#blog-archive {
	padding: 40px 5%;

	@include mobile-middle {
		padding: 40px 1%;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	article {
		width: 100%;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #d9d9d9;
		margin: 0 0 60px 0;

		@include mobile-middle {
			width: 49%;
		}

		@include tablet-landscape {
			 width: 32.3333%;
		}

		.photo {
			@include mobile-middle {
				 height: 220px;
				 overflow: hidden;
			}

			@include mobile-landscape {
				margin: 0 0 20px 0;
			}

			@include tablet-landscape {
				height: 200px;
			}

			@include desktop {
				height: 240px;
			}
		}

		img {
			display: block;
			width: 100%;
		}

		.info {
			padding: 20px 20px 0 0;

			@include mobile-middle {
				height: 160px;
				padding-top: 0;
			}

			h2 {
				font-size: 1em;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 0 0 10px 0;

				a {
					color: #59585b;
				}
			}

			h4 {
				font-size: 0.75em;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding: 0 0 10px 0;
				font-weight: 700;
			}

			h5 {
				font-family: $cassia-italic;
				font-size: 0.75em;
				padding: 0 0 10px 0;
			}

			p {
				font-size: 0.875em;
				line-height: 1.25em;
				margin: 0 0 10px 0;
			}

			.read-more {
				text-transform: uppercase;
				text-align: right;
				font-weight: 700;
				font-size: 0.6875em;
				text-decoration: underline;
				display: block;
			}
		}
	}


}


