#collection-header {
	background: url('img/floral_pattern.jpg') repeat-x center top;
	padding: 40px 0;

	.wrapper {
		max-width: 680px;
	}

	.info {
		background: rgba(255, 255, 255, 0.8);
		text-align: center;
		padding: 35px 70px;

		h1 {
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1.375em;
			padding: 0 0 15px 0;
			background: url('img/header-separator.jpg') no-repeat center bottom;
			margin: 0 0 15px 0;
		}

		p {
			font-size: 0.9375em;
			font-family: $proxima-nova; 
		}
	}

}

.post-type-archive-collections {

	#page-header {
		background: url(img/collections_pattern.jpg) repeat 0 0; 
		padding: 40px;

		.wrapper {
			background: rgba(255, 255, 255, 0.85);
			width: 90%;
			margin: 30px auto;
			text-align: center;
			max-width: 690px;
			padding: 40px;

		}

		h3 {
			font-size: 1em;
			line-height: 1em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 0 0 20px 0;
			margin: 0 0 20px 0;
			background: url(img/hp-header-rule.jpg) no-repeat center bottom;
		}
	}

	#list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 60px 5%; 

		.col {
			width: 100%;

			@include mobile-middle {
				width: 49%;
			}

			@include tablet-landscape {
				width: 24%;
			}

			.list-wrapper {
				border-top: 1px solid #c2c2c2;
				padding: 30px 0 35px 0; 

				@include mobile-middle {
					width: 66.6667%;
				}
			}

			h3 {
				font-size: 0.875em;
				line-height: 1.125em;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 2px;
				padding: 0 0 30px 0;
				clear: both;
			}

			a {
				display: block;
				font-size: 1em;
				line-height: 1em;
				margin: 0 0 15px 0;
			}
		}
	}


}

.single-collections {

	article {
		text-align: center;
		padding: 50px 0 60px 0;
		background: #f4f4f4;
		color: #58595b; 

		.wrapper {
			max-width: 800px;
		}

		h1 {
			font-size: 1.5em;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3px;
			padding: 0 0 10px 0;
		}

		h2 {
			font-size: 1.125em;
			font-family: $cassia-italic;
			letter-spacing: 2px;
			background: url(img/hp-header-rule.jpg) no-repeat center bottom;
			padding: 0 0 15px 0;
			margin: 0 0 15px 0;
		}

		#shop-link {
			display: inline-block;
			border: 1px solid #b0a160;
			color: #b0a160;
			padding: 15px 45px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 0.875em; 

			&:hover {
				background: #b0a160;
				color: #fff;
			}
		}

		#note {
			padding: 25px 0 0 0;
			font-size: 0.875em;
			line-height: 1.375em;
			font-family: $cassia-italic;
			letter-spacing: 1px;

			a:hover {
				text-decoration: underline;
			}
		}

		.categories {

			h3 {
				font-size: 0.875em;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: 2px;
				background: url(img/hp-header-rule.jpg) no-repeat center bottom;
				padding: 0 0 15px 0;
				margin: 40px 0 15px 0;
			}

			p {
				padding: 0 0 40px 0;
				font-size: 0.875em;
			}
		}


	}

	.photo {
		height: 420px;
	}
}