footer {
	padding: 45px 0;

	.wrapper {
		max-width: 940px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.col {
		width: 100%;
		padding: 0 5%;
		margin: 0 0 45px 0;

		@include tablet-portrait {
			 width: 20%;
			 padding: 0 30px 0 0;
			 margin: 0;
		}

		h4 {
			background: url(img/footer-separator.jpg) no-repeat left bottom;
			color: #929497;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.75em;
			padding: 0 0 10px 0;
			margin: 0 0 15px 0;
			letter-spacing: 2px;
		}

		h5 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.6875em;
			letter-spacing: 1px;
			margin: 0 0 5px 0;
		}

		p {
			font-size: 0.75em;
			font-family: $proxima-nova;
			margin: 0 0 15px 0;

			&:last-of-type {
				margin: 0;
			}
		}
	}

	#contact-details {
		a:hover {
			text-decoration: underline; 
		}
	}

	.visit-blog {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.6875em;
		letter-spacing: 1px;
		border: 1px solid;
		padding: 6px 16px;
		display: inline-block;
		margin: 15px 0 0 0;

		&:hover {
			background: #8a7c41;
			color: #fff; 
		}
	}

	#social {

		h5 {
			margin: 0 0 25px 0;

			@include tablet-portrait {
				margin: 0 0 15px 0;
			}

			a {
				color: #404041;

				.network {
					padding: 0 0 9px 30px;
				}

				.url {
					text-transform: lowercase;
					font-weight: 400;
					padding: 0;

					@include tablet-portrait {
						padding: 0 0 0 30px;
						display: block;
					}
				}
			}

			&.facebook {
				a .network {
					background: url(img/facebook.png) no-repeat 0 0;
				}

				a:hover .network {
					background: url(img/facebook.png) no-repeat 0 -26px;
				}
			}

			&.instagram {
				a .network {
					background: url(img/instagram.png) no-repeat 0 0;
				}

				a:hover .network {
					background: url(img/instagram.png) no-repeat 0 -26px;
				}
			}

			&.pinterest {
				a .network {
					background: url(img/pinterest.png) no-repeat 0 0;
				}

				a:hover .network {
					background: url(img/pinterest.png) no-repeat 0 -26px;
				}
			}
		}
	}

	#sign-up,
	#terms {
		padding: 30px 5% 0 5%;
		width: 100%;

		@include tablet-portrait {
			padding: 30px 0 0 0;
		}
	}

	#terms {
		a {
			text-transform: uppercase;
			font-size: 0.6875em;
			letter-spacing: 1px;
			color: #bbbdbf;
			font-weight: 700;
		}
	}

	#sister-stores {

		a {
			display: block; margin: 0 0 20px 0; 

			img {
				display: block;
				max-width: 100%;
				max-height: 20px;
			}
		}
	}

}