header {
	background: url('img/header_pattern.jpg') repeat-x center top;
	position: relative;

	#logo {

		padding: 15px 5% 0 5%;

		@include tablet-landscape {
			position: absolute;
			left: 5%;
			top: 20px;
			padding: 0;
			width: auto;
			float: none;
			z-index: 100;
		}

		a {
			display: block;

		}
	}

	#main {

		padding: 25px 0 35px 0;

		@include tablet-landscape {
			padding: 50px 0 70px 0;
		}

		ul {
			text-align: center;

			li {
				display: block;
				padding: 10px 0;

				@include mobile-middle {
					display: inline-block;
					padding: 0 30px;
				}

				a {
					text-transform: uppercase;
					color: #58585b;
					font-size: 0.8125em;
					line-height: 1em;
					font-weight: 700;
					letter-spacing: 1px;

					&:hover,
					&.active {
						color: #ae9f5f;
					}
				}
			}
		}
	}

	#utilities {

		@include mobile-middle {
			position: absolute;
			right: 5%;
			top: 20px;
		}

		.social-links {
			display: none;

			@include mobile-middle {
				display: block;
				float: left;
				margin: 0 0 15px 0;
			}
		}

		.cart-links {
			clear: both;
			text-align: right;
			position: absolute;
			top: 15px;
			right: 5%;

			@include mobile-middle {
				position: static;
			}

			span {
				display: block;
				font-size: 0.75em;
				text-transform: uppercase;
				font-weight: 500;

				a {
					display: inline-block;
					padding: 0 0 0 5px;
				}
			}
		}
	}


}

#shop-nav {
	display: none;
	background: #404041;
	padding: 20px 0;
	position: relative;
	top: -17px;
	margin: 0 0 -17px 0;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li {
			width: 50%;
			text-align: center;

			@include tablet-portrait {
				width: auto;
			}

			a {
				display: block;
				color: #fff;
				text-transform: uppercase;
				font-size: 0.6875em;
				line-height: 1em;
				letter-spacing: 1px;
				font-weight: 500;
				padding: 10px 20px;

				&:hover,
				&.active {
					color: #ae9f5f;
				}
			}
		}
	}
}

#shop #shop-nav {
	display: block;
}