body#home {

	#page-header {
		padding: 80px 0;

		@include tablet-portrait {
			 padding: 140px 0;
		}

		.wrapper {
			background: rgba(255, 255, 255, 0.85);
			width: 90%;
			padding: 40px;
			text-align: center;

			@include tablet-portrait {
				background: url(img/hp-header-bg.png) no-repeat 0 0;
				width: 738px;
				height: 298px;
				padding: 60px 100px 0 100px;
			}
		}
	}

	section#features {

		.feature {
			display: flex;
			flex-wrap: wrap;
			align-content: center;

			@include tablet-portrait {
				&:nth-child(odd) {
					.info {
						order: -1;
					}
				}				
			}



		}

		.info {
			width: 100%;
			padding: 7.5% 10%;

			@include tablet-portrait {
				width: 50%;
			}

			h3 {
				font-size: 1.25em;
				line-height: 1em;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 2px;
				padding: 0 0 20px 0;
				margin: 0 0 20px 0; 
			}

			p {
				font-size: 0.875em;
				line-height: 1.25em;
				margin: 0 0 25px 0;
				width: 100%;

				@include tablet-landscape {
					width: 75%;
				}
			}

			a {
				border: 2px solid;
				padding: 10px 20px;
				display: block;
				float: left;
				text-align: center;
				text-transform: uppercase;
				font-size: 0.6875em;
				font-weight: 600;
				letter-spacing: 1px;
				line-height: 1.125em;
				margin: 0 0 30px 0;

				&:hover {
					background: #ae9f5f;
					color: #fff;
					border-color: #ae9f5f;
				}
			}
		}

		.photo {
			width: 100%;
			min-height: 300px;


			@include tablet-portrait {
				width: 50%;
			}


		}



		.gold .info h3,
		.blue .info h3 {
			background: url(img/white-rule.jpg) no-repeat left bottom;
		}

		.white .info h3 {
			background: url(img/grey-rule.jpg) no-repeat left bottom;
		}

		.gold .info a {
			color: #4e5b5d;
		}
		.gold .info a:hover {
			background: #4e5b5d;
			color: #fff;
			border-color: #4e5b5d;
		}


	}



}