#info {
	
	#contact-info {
		padding: 75px 0;
		text-align: center;

		.wrapper {
			max-width: 720px;
			padding: 0 5% 25px 5%;
		}

		h2 {
			font-size: 1.25em;
			text-transform: uppercase;
			letter-spacing: 3px;
			padding: 0 0 25px 0;
			font-weight: 700;

			&#questions {
				padding-top: 40px;
			}
		}

		p {
			margin: 0 0 20px 0;

			&:last-of-type {
				margin: 0;
			}
		}

		h5 {
			font-size: 0.875em;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
		}
	}
}