#default-page {

	.wrapper {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 5%;

		@include tablet-portrait {
			padding: 0;
		}

		.header {
			width: 100%;
			float: left;
			padding: 60px 0;
			text-align: center;

			h1 {
				font-weight: 700;
				font-size: 1.5em;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}

		.body {
			width: 100%;
			float: left;
			padding: 0 0 60px 0;

			p, ol, ul {
				margin: 0 0 20px 0;
			}

			h2, h3, h4, h5, h6 {
				margin: 0 0 10px 0;
				font-weight: 700;
			}

			h2 {
				font-size: 1.25em;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 40px 0 0 0;
			}
		}
	}

}