.product-list {
	padding: 30px 1%;

	.product {
		width: 99%;
		float: left;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #d9d9d9;
		margin: 0 0.5% 60px 0.5%;

		@include mobile-middle {
			width: 49%;
		}

		@include tablet-portrait {
			width: 32.3333%;
		}

		@include desktop {
			width: 24%;
		}

		img {
			display: block;
			width: 100%;
			margin: 0 0 20px 0;
		}

		.photo-link {
			position: relative;
			display: block;

			.view {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				transition: opacity .3s ease-in;

				.overlay {
					background: rgba(78, 90, 92, 0.7);
				}

				span {
					color: #fff;
					font-family: $cassia-regular;
					background: #4e5a5c;
					padding: 25px 60px;
					letter-spacing: 2px;
					font-size: 1em;
					position: absolute;

					em {
						font-family: $cassia-italic;
						font-style: normal;
					}
				}
			}

			&:hover {
				.view {
					opacity: 1;
				}
			}
		}

		.product-info {
			float: left;
			width: 60%;
			padding: 0 0 0 8px;

			.collection {
				font-family: $cassia-italic;
				font-size: 0.75em;
				letter-spacing: 2px;
			}
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 900;
			font-size: 0.75em;
			margin: 0 0 5px 0;
		}

		.price {
			float: right;
			width: 40%;
			text-align: right;
			padding: 0 8px 0 0; 

			.add-to-cart {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.6875em;
				text-decoration: underline;
			}
		}

		h3 a,
		.collection {
			color: #58585b;
		}

		.collection:hover {
			text-decoration: underline;
		}

	}

}