#services {

	#page-header {
		background: url(img/floral-shapes.png) repeat-x center top;
		height: 243px;
		padding: 30px 0; 

		.wrapper {
			max-width: 720px;
		}

		.info {

			background: rgba(255, 255, 255, 0.8);
			text-align: center;
			padding: 35px 100px;
		}

		p {
			font-size: 1em;
			line-height: 1.25em;
		}
	}

	.photo {
		height: 320px;
		background: #aaaaaa;
	}

	.services-info {
		padding: 75px 0;
		text-align: center;

		.wrapper {
			max-width: 720px;
			padding: 0 5% 25px 5%;

			@include tablet-portrait {
				padding: 0 0 25px 0;
			}
		}

		h2 {
			font-size: 1.25em;
			text-transform: uppercase;
			letter-spacing: 3px;
			padding: 0 0 25px 0;
			margin: 0 0 25px 0;
		}

		&.gold h2,
		&.blue h2 {
			background: url(img/services-rule-white.png) no-repeat center bottom;
		}

		&.white h2 {
			background: url(img/services-rule-gray.png) no-repeat center bottom;
		}

		&.gold .wrapper,
		&.blue .wrapper {
			background: url(img/services-rule-white.png) no-repeat center bottom;
		}

		&.white .wrapper {
			background: url(img/services-rule-gray.png) no-repeat center bottom;
		}

		p {
			font-size: 1em; line-height: 1.25em;
		}

		.cta {
			display: block;
			margin: 25px auto 0 auto;
			width: 329px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.875em;
			letter-spacing: 2px;
		}

		&.gold .cta {
			background: url(img/blue-button.png) no-repeat 0 0;
		}

		&.blue .cta,
		&.white .cta {
			background: url(img/gold-button.png) no-repeat 0 0;
		}

	}

	.extended .deck {
		padding: 0 0 50px 0;
	}

	.feature {
		padding: 0 0 50px 0;

		&:last-of-type {
			padding: 0 0 30px 0;
		}

		h3 {
			background: url(img/hp-header-rule.jpg) no-repeat center bottom;
			padding: 0 0 15px 0;
			margin: 0 0 15px 0;
			font-family: $cassia-italic;
			font-size: 1.125em;
			letter-spacing: 3px;
		}
	}
}