body#shop {

	section#types {
		display: flex;
		flex-wrap: wrap;

		.type {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}

			@include desktop {
				width: 33.33333%;
			}

			&.shop-gift-certificates {
				width: 100%;

				.photo {
					@include tablet-portrait {
						height: 200px;
					}
				}
			}

			.header {
				text-align:	center;
				padding: 50px 0;
				display: none;

				h2 {
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 1em;
					font-weight: 700;

					em {
						text-transform: lowercase;
						font-family: 'Cassia Italic';
						font-style: normal;
						font-size: 0.875em;
						font-weight: normal;
					}
				}

			}

			.photo {
				height: 340px;
				display: flex;
				justify-content: center;
				align-items: center;

				@include tablet-portrait {
					height: 400px;
				}

				.overlay {
					position: absolute;
					z-index: 50;
					height: 100%;
				}

				.cta {
					z-index: 100;
					text-transform: lowercase;
					font-family: $cassia-italic;
					font-size: 1em;
					letter-spacing: 2px;
					margin: auto;
					width: 320px;
					display: block;
					opacity: 0.7;

					&:hover {
						opacity: 0.8;
					}

					span {
						display: block;
						text-align: center;
						border: 1px solid #fff;
						margin: 10px;
						padding: 23px 23px 20px 23px;
					}
				}
			}

			&.white {
				.header {
					background: #fff;
					color: #58595b;
				}

				.photo {
					.cta {
						background: #fff;
						color: #58595b;

						span {
							border: 1px solid #58595b;
						}
					}
				}

			}

			&.blue {
				.photo {
					.cta {
						background: #4e5b5d;
						color: #fff;
					}
				}
			}

			&.gold {
				.photo {
					.cta {
						background: #b0a160;
						color: #fff;
					}
				}
			}

			&.gray {
				.header {
					background: #6d6e71;
					color: #fff;
				}

				.photo {
					.cta {
						background: #6d6e71;
						color: #fff;
					}
				}

			}
		}

	}


	.shop-jewelry.gold .photo .overlay,
	.shop-baby.gold .photo .overlay {
		background: rgba(176, 161, 95, 0.5);
	}


}