.single {

	.post {
		padding: 0 5% 60px 5%;

		#breadcrumbs {
			padding: 20px 0;
			width: 100%;
		}

		.wrapper {
			max-width: 1200px; margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		article {
			width: 100%;

			@include tablet-portrait {
				width: 75%;
				padding: 0 50px 0 0;
				border-right: 1px solid #afa060;
			}

			h1 {
				font-size: 1.625em;
				text-transform: uppercase;
				letter-spacing: 4px;
				font-weight: 700;
				padding: 0 0 15px 0;
			}

			h4 {
				font-family: $cassia-italic;
				font-size: 0.875em;
				padding: 0 0 20px 0;
				letter-spacing: 1px;
			}

			p {
				margin: 0 0 30px 0;
				font-size: 1em;
				line-height: 1.25em;
			}

			img {
				display: block;
				max-width: 100%;
			}

			.featured-photo {

				margin: 0 0 20px 0;
			}

			.wp-caption {

				margin: 0 0 30px 0;

				.wp-caption-text {
					font-family: $cassia-italic;
					font-size: 0.875em;
					margin: 0;
					padding: 10px 0 0 0;
				}
			}

		}

		#sidebar {

			@include tablet-portrait {
				width: 25%;

				padding: 0 0 0 50px;
			}

			& > div {
				width: 100%;

				margin: 0 0 60px 0; 

				h4 {
					text-transform: uppercase;
					letter-spacing: 2px;
					font-weight: 700;
					font-size: 1.25em;
					line-height: 1em;
					padding: 0 0 25px 0;
					margin: 0 0 25px 0;
					background: url(img/sidebar-rule.png) no-repeat left bottom;
				}
			}

			#tags-list {
				color: #999;
				font-size: 0.875em;

				a {
					color: #999 !important;
					background: transparent !important;
					font-family: $proxima-nova;
					text-transform: lowercase;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			#recent-list {
				.post {
					padding: 0;
					margin: 0 0 30px 0;

					&:last-of-type {
						margin: 0; 
					}
				
					h3 {
						font-family: $proxima-nova;
						font-size: 1em;
					}

					h5 {
						font-family: $cassia-italic;
						font-size: 0.75em;
						letter-spacing: 1px;
					}
				}
			}

			#archives-list {

				li {
					display: inline-block;
					color: #999;
					font-family: $proxima-nova;
					font-size: 0.875em;

					a {
						color: #999;
					}
				}

				span {
					display: inline-block;
					padding: 0 5px;
				}
			}
		}

		.post-tags {

			color: #ae9f5f;

			a {
				font-family: $cassia-italic;
				text-transform: lowercase;
				font-size: 0.75em;
				letter-spacing: 1px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		
	}

	.share {
		margin: 0 0 10px 0;

		ul {
			width: 50px;
			padding: 15px 0 0 0;
			border-top: 1px solid #d7d7d7; 
			display: flex;
			width: 100%;


			li {
				margin: 0 10px 0 0;

				a {
					display: block; width: 25px; height: 26px;

					&.instagram {
						background: url('img/instagram.png') no-repeat 0 0;
						&:hover {
							background: url('img/instagram.png') no-repeat 0 -26px;
						}
					}

					&.facebook {
						background: url('img/facebook.png') no-repeat 0 0;
						&:hover {
							background: url('img/facebook.png') no-repeat 0 -26px;
						}
					}

					&.pinterest {
						background: url('img/pinterest.png') no-repeat 0 0;
						&:hover {
							background: url('img/pinterest.png') no-repeat 0 -26px;
						}
					}

				}

			}
		}
	}

}
