body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#contact {
	padding: 70px 0;
	background: url('img/chevron_pattern.jpg') repeat 0 0;

	.wrapper {
		max-width: 720px;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.75em;
		line-height: 1em;
		letter-spacing: 1px;
		text-align: center;
		margin: 0 0 15px 0;

		@include tablet-portrait {
			float: left;
			text-align: left;
		}
	}

	#contact-info {
		@include tablet-portrait {
			float: right;
			padding: 4px 0 0 0;
		}

		span {
			font-size: 1em;
			font-weight: 500;
			display: block;
			text-align: center;
			text-transform: lowercase;

			@include tablet-portrait {
				display: inline;
				text-align: left;
			}
		}

		a {
			text-decoration: underline;
		}

		.address br {
			display: none;
		}
	}
}


#contact-separator {
	height: 21px;
	background: url('img/dots_pattern.jpg') repeat 0 0;
}

.social-links {

	li {
		float: left; 
		margin: 0 0 0 10px;
	}

	a {
		display: block; 
		width: 25px;
		height: 26px;
		transition: none;

		&.instagram {
			background: url('img/instagram.png') no-repeat 0 0; margin-top: -1px;

			&:hover {
				background: url('img/instagram.png') no-repeat 0 -26px;
			}
		}

		&.facebook {
			background: url('img/facebook.png') no-repeat 0 0;

			&:hover {
				background: url('img/facebook.png') no-repeat 0 -26px;
			}
		}

		&.pinterest {
			background: url('img/pinterest.png') no-repeat 0 0;

			&:hover {
				background: url('img/pinterest.png') no-repeat 0 -26px;
			}
		}
	}
}

.photo .overlay {
	position: absolute;
	top: 0;
	z-index: 10;
}

.blue {
	background: #4e5b5d;
	color: #fff;

	.photo .overlay {
		background: rgba(78, 91, 93, 0.7);
	}
}

.white {
	background: #e7e7e8;
	color: #464646;
	.photo .overlay {
		background: rgba(255, 255, 255, 0.7);
	}
}

.gold {
	background: #b0a160;
	color: #fff;

	.photo .overlay {
		background: rgba(176, 161, 95, 0.7);
	}
}

.gray {
	
	.photo .overlay {
		background: rgba(109, 110, 113, 0.7);
	}
}

#page-header {
	h3 {
		font-size: 1em;
		line-height: 1.5em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 0 0 20px 0;
		margin: 0 0 20px 0;
		background: url(img/hp-header-rule.jpg) no-repeat center bottom;
	}
} 


#leaf-pattern {
	height: 32px;
	background: url(img/leaf-pattern.png) repeat-x center top;
}

#breadcrumbs {
	padding: 20px 5%;

	a {
		font-size: 0.625em;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #808285;
		font-weight: 700;
	}
}


@include tablet-landscape {

	.product-details .photos {
		width: 66.6666%;
		margin: 0;
	}
	.product-details .product-info {
		width: 33.3333%;
	}

	.product-details .breadcrumbs {
		padding: 0 0 30px 0;
	}

	.product-details .photos,
	.product-details .product-info,
	.product-details .learn-more {
		padding: 0;
	}

}

@include desktop {
	.related.product-list .product {
		width: 32.3333%;
		margin-bottom: 0;
	}
}



