html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: #58585b;
	font: 400 100%/1 $brandon;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $brandon;
	font-weight: normal;
}

a {
	color: #ae9f5f;
	transition: all 0.2s ease-in-out;

	&:hover,
	&.active {
		color: #ae9f5f;
	}
}