/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2a2a2a;


/* Typography
----------------------------------*/
@font-face {
	font-family: 'Cassia Regular';
	src: url('fonts/26C8CB_5_0.eot');
	src: url('fonts/26C8CB_5_0.eot?#iefix') format('woff'),
		 url('fonts/26C8CB_5_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Cassia Italic';
	src: url('fonts/26C8CB_1_0.eot');
	src: url('fonts/26C8CB_1_0.eot?#iefix') format('woff'),
		 url('fonts/26C8CB_1_0.ttf') format('truetype');
}

$cassia-regular: 'Cassia Regular', serif;
$cassia-italic: 'Cassia Italic', serif;
$brandon: "brandon-grotesque", sans-serif;
$proxima-nova:  "proxima-nova", sans-serif;