/*

    TABLE OF CONTENTS
    
    01  Defaults
    02  Typography
    03  Basic Layout
    04  Header
    05  Footer
    06  Home
	07	The Store
	08	Our Designers
	09	Services
	10	Shop
	11	Blog

    XX  Media Queries
        - 600
        - 768
        - 1024

*/








/*

    ----------------------------------------------------------------------
                                01 Defaults
    ----------------------------------------------------------------------

*/


/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary  { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }


/* HTML & BODY */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0; font-size: 1em; line-height: 1.4; }


/* Links */
a { text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 600; }
i, em { font-style: italic; }
blockquote { margin: 0; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; }
p, pre { margin: 1em 0; }
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre {  white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, h4, h5, h6, p { margin: 0; font-weight: normal; -webkit-margin-before: 0; -webkit-margin-after: 0; }


/* Lists */
dd { margin: 0 0 0 40px; }
ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* Embedded Content */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }


/* Figure */
figure { margin: 0; }


/* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* Tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li { position: relative; }


/* Selection  */
::-moz-selection { background: #b49041; color: #fff; text-shadow: none; }
::selection { background: #b49041; color: #fff; text-shadow: none; }


/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* Border-Box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Image replacement */
.ir { font: 0/0 a; text-shadow: none; color: transparent; }








/*

    ----------------------------------------------------------------------
                                02 Typography
    ----------------------------------------------------------------------

	font-family: "brandon-grotesque";
	400
	500
	700
	
	font-family: "proxima-nova";
	400

*/


@font-face {
	font-family: 'Cassia Regular';
	src: url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_5_0.eot?1052 );
	src: url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_5_0.eot?%23iefix&1052) format('embedded-opentype'),
		 url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_5_0.woff?1052 ) format('woff'),
		 url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_5_0.ttf?1052 ) format('truetype');
}

@font-face {
	font-family: 'Cassia Italic';
	src: url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_1_0.eot?1052 );
	src: url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_1_0.eot?%23iefix&1052) format('embedded-opentype'),
		 url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_1_0.woff?1052 ) format('woff'),
		 url( //cdn.shopify.com/s/files/1/0552/4145/t/3/assets/26C8CB_1_0.ttf?1052 ) format('truetype');
}


/* Rendering & Ligatures */
html, input, textarea { -webkit-font-smoothing: antialiased; }
body { text-rendering: optimizeLegibility; }


/* Fonts */
body, input, textarea { color: #58585b; font-family: 'brandon-grotesque', Arial, sans-serif; }


/* Link Colors */
a { color: #ae9f5f; }
a:hover, a.active { color: #ae9f5f; }








/*

    ----------------------------------------------------------------------
                                03 Layout
    ----------------------------------------------------------------------

*/


html { background: #fff; }

header,
footer,
section,
article { width: 100%; float: left; position: relative; }

.wrapper { margin: 0 auto; }



#contact { width: 100%; float: left; padding: 70px 0; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/chevron_pattern.jpg?1052) repeat 0 0; }
#contact .wrapper { max-width: 720px; }

#contact h3 { text-transform: uppercase; font-weight: 600; font-size: 1.75em; line-height: 1em; letter-spacing: 1px; text-align: center; margin: 0 0 15px 0; }
#contact #contact-info {  }
#contact #contact-info span {  font-size: 1em; font-weight: 500; display: block; text-align: center; }
#contact #contact-info a { text-decoration: underline; }
#contact-separator { width: 100%; float: left; height: 21px; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/dots_pattern.jpg?1052) repeat 0 0; }


.social-links li { float: left; margin: 0 0 0 10px; }
.social-links a { display: block; width: 25px; height: 26px; }
.social-links .instagram { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/instagram.png?1052) no-repeat 0 0; margin-top: -1px; }
.social-links .instagram:hover { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/instagram.png?1052) no-repeat 0 -26px; }
.social-links .facebook { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/facebook.png?1052) no-repeat 0 0; }
.social-links .facebook:hover { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/facebook.png?1052) no-repeat 0 -26px; }
.social-links .pinterest { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/pinterest.png?1052) no-repeat 0 0; }
.social-links .pinterest:hover { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/pinterest.png?1052) no-repeat 0 -26px; }


/*

    ----------------------------------------------------------------------
                                04 Header
    ----------------------------------------------------------------------

*/

header { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/header_pattern.jpg?1052) repeat-x center top; }
header #logo { width: 100%; float: left; padding: 15px 5% 0 5%; }
header #logo a { display: block; }

header #main { width: 100%; float: left; padding: 25px 0 35px 0; }
header #main ul { text-align: center; }
header #main ul li { display: block; padding: 10px 0; }
header #main ul li a { text-transform: uppercase; color: #58585b; font-size: 0.8125em; line-height: 1em; font-weight: 700; letter-spacing: 1px; }
header #main ul li a:hover, 
header #main ul li a.active { color: #ae9f5f; }

header #main ul li a.shop-nav { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/shop-arrow.png?1052) no-repeat right 8px; padding: 0 24px 0 0;}
header #main ul li a.shop-nav:hover,
header #main ul li a.shop-nav.active { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/shop-arrow.png?1052) no-repeat right -11px; }



header #utilities {  }
header #utilities .social-links { display: none; }

header #utilities .cart-links { clear: both; text-align: right; position: absolute; top: 15px; right: 5%; }
header #utilities .cart-links span { display: block; font-size: 0.75em; text-transform: uppercase; font-weight: 500; }
header #utilities .cart-links span a { display: inline-block; padding: 0 0 0 5px; }



/* Shop Nav
-----------------------*/
#shop-nav {  display: none; background: #404041; width: 100%; float: left; padding: 20px 0; position: relative; top: -17px; margin: 0 0 -17px 0; }

#shop-nav ul { max-width: 500px; margin: 0 auto; }
#shop-nav ul li { width: 33.3333%; float: left; text-align: center; padding: 10px 0; }
#shop-nav ul li a { display: block; color: #fff; text-transform: uppercase; font-size: 0.6875em; line-height: 1em; letter-spacing: 1px; font-weight: 500; }

#shop-nav ul li a:hover,
#shop-nav ul li a.active { color: #ae9f5f; }




/*

    ----------------------------------------------------------------------
                                05 Footer
    ----------------------------------------------------------------------

*/

footer { padding: 45px 0; }
footer .wrapper { max-width: 940px; }

footer .col { width: 100%; float: left; padding: 0 5%; margin: 0 0 45px 0; }
footer .col h4 { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/footer-separator.jpg?1052) no-repeat left bottom; color: #929497; text-transform: uppercase; font-weight: 700; font-size: 0.75em; padding: 0 0 10px 0; margin: 0 0 15px 0; letter-spacing: 2px;}
footer .col h5 { text-transform: uppercase; font-weight: 700; font-size: 0.6875em; letter-spacing: 1px; margin: 0 0 5px 0; }
footer .col p { font-size: 0.75em; font-family: "proxima-nova", Arial, sans-serif; margin: 0 0 15px 0; }
footer .col p:last-of-type { margin: 0; }

footer #contact-details a:hover { text-decoration: underline; }

footer #blog .visit-blog { text-transform: uppercase; font-weight: 700; font-size: 0.6875em; letter-spacing: 1px; border: 1px solid; padding: 6px 16px; display: block; float: left; margin: 15px 0 0 0; }
footer #blog .visit-blog:hover { background: #8a7c41; color: #fff; }


footer #social h5 { margin: 0 0 25px 0; }
footer #social h5 a { color: #404041; }
footer #social h5 a .network {  padding: 0 0 9px 30px; }
footer #social h5 a .url { text-transform: lowercase; font-weight: 400;  padding: 0 0 0 0; }

footer #social h5.facebook a .network { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/facebook.png?1052) no-repeat 0 0; }
footer #social h5.facebook a:hover .network { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/facebook.png?1052) no-repeat 0 -26px; }
footer #social h5.instagram a .network { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/instagram.png?1052) no-repeat 0 0; }
footer #social h5.instagram a:hover .network { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/instagram.png?1052) no-repeat 0 -26px; }
footer #social h5.pinterest a .network { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/pinterest.png?1052) no-repeat 0 0; }
footer #social h5.pinterest a:hover .network { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/pinterest.png?1052) no-repeat 0 -26px; }

footer #terms { width: 100%; float: left; clear: both; padding: 30px 5% 0 5%; }
footer #terms a { text-transform: uppercase; font-size: 0.6875em; letter-spacing: 1px; color: #bbbdbf; font-weight: 700; }


/*

    ----------------------------------------------------------------------
                                06 Home
    ----------------------------------------------------------------------

*/




/*

    ----------------------------------------------------------------------
                                XX Product List
    ----------------------------------------------------------------------

*/

.product-list { padding: 30px 1%;  }
.product-list .product { width: 99%; float: left; padding: 0 0 20px 0; border-bottom: 1px solid #d9d9d9; margin: 0 0.5% 60px 0.5%; }
.product-list .product img { display: block; width: 100%; margin: 0 0 20px 0; }

.product-list .product .photo-link { position: relative; display: block;  }
.product-list .product .photo-link .view {  opacity: 0; position: absolute; top: 0; left: 0; 
	-webkit-transition: opacity .3s ease-in;
	   -moz-transition: opacity .3s ease-in;
	     -o-transition: opacity .3s ease-in;
	        transition: opacity .3s ease-in;
}
.product-list .product .photo-link:hover .view { opacity: 1; }
.product-list .product .photo-link .view .overlay { background: rgba(78, 90, 92, 0.7); }
.product-list .product .photo-link .view span { color: #fff; font-family: 'Cassia Regular', Georgia, serif; background: #4e5a5c; padding: 25px 60px;  letter-spacing: 2px; font-size: 1em; position: absolute; }
.product-list .product .photo-link .view span em { font-family: 'Cassia Italic', Georgia, serif; font-style: normal; }


.product-list .product .product-info { float: left; width: 60%; padding: 0 0 0 8px; }
.product-list .product h3 { text-transform: uppercase; letter-spacing: 1px; font-weight: 900; font-size: 0.75em; margin: 0 0 5px 0; }
.product-list .product .product-info .collection { font-family: 'Cassia Italic', Georgia, serif; font-size: 0.75em; letter-spacing: 2px; }

.product-list .product h3 a,
.product-list .product .collection { color: #58585b; }
.product-list .product .collection:hover { text-decoration: underline; }

.product-list .product .price { float: right; width: 40%; text-align: right; padding: 0 8px 0 0; }
.product-list .product .price .add-to-cart { text-transform: uppercase; font-weight: 700; font-size: 0.6875em; text-decoration: underline; }

/*

    ----------------------------------------------------------------------
                                XX Category Index
    ----------------------------------------------------------------------

*/

#collection-header { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/floral_pattern.jpg?1052) repeat-x center top; }
#collection-header .wrapper { max-width: 680px; }
#collection-header .info { width: 100%; float: left; background: rgba(255, 255, 255, 0.8); text-align: center; padding: 35px 70px; margin: 40px 0; }
#collection-header .info h1 { font-weight: 600; text-transform: uppercase; letter-spacing: 2px; font-size: 1.375em; padding: 0 0 15px 0; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/header-separator.jpg?1052) no-repeat center bottom; margin: 0 0 15px 0; }
#collection-header .info p { font-size: 0.9375em; font-family: "proxima-nova", Arial, sans-serif; }





/*

    ----------------------------------------------------------------------
                                XX Product Detail
    ----------------------------------------------------------------------

*/

#pattern-header { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/floral_pattern.jpg?1052) repeat-x center center; height: 45px; }

.product-details { padding: 30px 0 0 0; }
.product-details .wrapper { max-width: 1200px; }

.product-details .breadcrumbs { width: 100%; float: left; padding: 0 5% 30px 5%; }
.product-details .breadcrumbs a { display: block; text-transform: uppercase; font-weight: 900; font-size: 0.6875em; letter-spacing: 2px;  color: #58585b; }

.product-details .photos { width: 100%; float: left; padding: 0 5%; margin: 0 0 30px 0; }
.product-details .photos img { display: block; max-width: 100%; margin: 0 auto; }

.product-details .photo-wrapper { width: 660px; float: left; }
.product-details .thumbs { max-width: 80px; float: right; margin: 0 30px 0 0;  }
.product-details .thumbs .thumb { margin: 0 0 15px 0;  }
.product-details .thumbs .thumb img { display: block; max-width: 100%; }
.product-details .product-info { width: 100%; float: left; padding: 0 5%; }



.product-details .product-info h1 { font-weight: 700; text-transform: uppercase; letter-spacing: 2px; font-size: 1.125em; margin: 0 0 5px 0; }
.product-details .product-info h2 { font-family: 'Cassia Italic', Georgia, serif; font-size: 0.875em; letter-spacing: 2px; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/product-detail-separator.jpg?1052) no-repeat left bottom; padding: 0 0 10px 0; margin: 0 0 10px 0; }
.product-details .product-info h2 a { color: #58585b; }
.product-details .product-info h2 a:hover { text-decoration: underline; }


.product-details .product-info .price { margin: 0 0 5px 0; }
.product-details .product-info .price h3 { font-weight: 900; text-transform: uppercase; letter-spacing: 2px; font-size: 1.125em; line-height: 1em; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/product-detail-separator.jpg?1052) no-repeat left bottom; padding: 0 0 10px 0; margin: 0 0 10px 0; }

.product-details .product-info > div { width: 100%; float: left; margin: 0 0 30px 0; }


.product-details .product-info h4 { text-transform: uppercase; font-weight: 900; font-size: 0.75em; letter-spacing: 2px; }
.product-details .product-info p { font-family: "proxima-nova", Arial, sans-serif; font-size: 0.8125em; line-height: 1.25em; }


.product-details .product-info .notes h4,
.product-details .product-info .scent-family h4 { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/product-detail-separator.jpg?1052) no-repeat left bottom; padding: 0 0 10px 0; margin: 0 0 10px 0; }

.product-details .product-info .description .read-more { font-family: 'Cassia Italic', Georgia, serif; font-size: 1em; letter-spacing: 1px; padding: 10px 0 0 0; display: block; float: left; }
.product-details .product-info .description .read-more span { font-family: 'Cassia Regular', Georgia, serif; }
.product-details .product-info .description .read-more:hover { text-decoration: underline; }

.product-details .product-info .description p { margin: 0 0 15px 0; }
.product-details .product-info .description p:last-of-type { margin: 0; }

.product-details .product-info .description h4 { display: block; font-weight: 800; text-transform: uppercase; letter-spacing: 2px; font-size: 1em; line-height: 1em; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/product-detail-separator.jpg?1052) no-repeat left bottom; padding: 15px 0 10px 0; margin: 0 0 10px 0; }

.product-details .product-info .description .full { display: none; }

.product-details .product-info .scent-family span { display: block; float: left; min-width: 44px; margin: 0 20px 0 0; padding: 52px 0 0 0; text-align: center; font-family: 'Cassia Italic', Georgia, serif; letter-spacing: 1px; text-transform: lowercase; color: #58595b; font-size: 0.8375em; }
.product-details .product-info .scent-family span.Floral { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/floral.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Oriental { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/oriental.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Fruity { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/fruity.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Citrus { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/citrus.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Wood { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/wood.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Gourmand { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/grourmand.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Herbal { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/herbal.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Spicy { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/spicy.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Marine { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/marine.png?1052) no-repeat center top; }
.product-details .product-info .scent-family span.Green { background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/green.png?1052) no-repeat center top; }


.product-details .product-info #quantity-label { text-transform: uppercase; font-weight: 800; letter-spacing: 1px; font-size: 0.6875em; padding: 0 5px 0 0; }
.product-details .product-info #quantity { border: 1px solid #c1c1c1; width: 36px; text-align: center; font-size: 0.75em; line-height: 24px; font-weight: 900; } 

.product-details .product-info .purchase { width: 100%; float: left; margin: 25px 0 0 0; }
.product-details .product-info #add-to-cart { border: none; background: url(//cdn.shopify.com/s/files/1/0552/4145/t/3/assets/cart-button.jpg?1052) repeat-x 0 0; display: block; text-align: center; color: #fff; color: #fff; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; font-size: 0.75em; padding: 15px 60px;  }


.product-details .product-info .selector-wrapper { margin: 0 0 20px 0; }

.product-details #meta { width: 100%; float: left; margin: 15px 0 0 0; }
.product-details #meta a { font-family: 'Cassia Italic', Georgia, serif; font-size: 0.875em; letter-spacing: 2px; display: block; margin: 0 0 10px 0; }
.product-details #meta a:hover { text-decoration: underline; }





.related { background: #f3f3f4; margin-top: 45px; margin-bottom: 45px; }
.related > h3 { text-transform: uppercase; font-weight: 900; font-size: 0.75em; letter-spacing: 2px; margin: 0 0 20px 0; text-align: center; }
.related.product-list .product { border-bottom: 1px solid #fff; }


/*

    ----------------------------------------------------------------------
                                XX Media Queries
    ----------------------------------------------------------------------

*/




/* 600 + */
@media screen and (min-width: 600px) {



	/*  XX Header
	---------------------------------------- */
	header #main ul li { display: inline-block; padding: 0 30px; }

	header #utilities { position: absolute; right: 5%; top: 20px; }
	header #utilities .social-links { display: block; float: left; margin: 0 0 15px 0; }
	header #utilities .cart-links {  position: static; }


	#shop-nav ul li { width: 25%; }

	
	/*  XX Product List
	---------------------------------------- */
	.product-list .product { width: 49%; } 

}






/* 768 + */
@media screen and (min-width: 768px) {



	
	/*  03 Layout
	---------------------------------------- */
	#contact h3 { float: left; text-align: left; }
	#contact #contact-info { float: right;  padding: 4px 0 0 0;  }
	#contact #contact-info span {  display: inline; text-align: left; }



	/*  XX Header
	---------------------------------------- */

	


	





	/*  XX Footer
	---------------------------------------- */
	footer .col { width: 20%; float: left; padding: 0 30px 0 0; margin: 0; }
	footer #social h5 { margin: 0 0 15px 0; }
	footer #social h5 a .url { padding: 0 0 0 30px; }
	footer #terms { padding: 60px 0 0 0; }



	/*  XX Product List
	---------------------------------------- */
	.product-list .product { width: 32.3333%; }






}






/* 1024 + */
@media screen and (min-width:1024px) {

	header #logo { position: absolute; left: 5%; top: 20px; padding: 0; width: auto; float: none; }
	
	header #main { padding: 50px 0 70px 0; }
	header #main ul li { display: inline-block; padding: 0 30px; }
	.product-details .photos { width: 66.6666%; margin: 0; }
	.product-details .product-info { width: 33.3333%; }




}


/* 1080 + */
@media screen and (min-width:1080px) {

	.product-details .breadcrumbs { padding: 0 0 30px 0; }
	.product-details .photos,
	.product-details .product-info,
	.product-details .learn-more { padding: 0; }





}

/* 1200 + */
@media screen and (min-width:1200px) {

	.product-list .product { width: 24%; }
	.related.product-list .product { width: 32.3333%; margin-bottom: 0; }


}

