/*

    Theme Name: Essenza
    Theme URI: http://essenza-inc.com/
    Author: Andrew Lovseth
    Author URI: http://andrewlovseth.com/
    Description: Theme for Essenza, a shop in Fremont, Seattle.
    Version: 2.0
*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Cassia Regular';
  src: url("fonts/26C8CB_5_0.eot");
  src: url("fonts/26C8CB_5_0.eot?#iefix") format("woff"), url("fonts/26C8CB_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Cassia Italic';
  src: url("fonts/26C8CB_1_0.eot");
  src: url("fonts/26C8CB_1_0.eot?#iefix") format("woff"), url("fonts/26C8CB_1_0.ttf") format("truetype"); }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #b49041;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #b49041;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea {
  color: #58585b;
  font: 400 100%/1 "brandon-grotesque", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: normal; }

a {
  color: #ae9f5f;
  transition: all 0.2s ease-in-out; }
  a:hover, a.active {
    color: #ae9f5f; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto; }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

#contact {
  padding: 70px 0;
  background: url("img/chevron_pattern.jpg") repeat 0 0; }
  #contact .wrapper {
    max-width: 720px; }
  #contact h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 1em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 0 15px 0; }
    @media screen and (min-width: 768px) {
      #contact h3 {
        float: left;
        text-align: left; } }
  @media screen and (min-width: 768px) {
    #contact #contact-info {
      float: right;
      padding: 4px 0 0 0; } }
  #contact #contact-info span {
    font-size: 1em;
    font-weight: 500;
    display: block;
    text-align: center;
    text-transform: lowercase; }
    @media screen and (min-width: 768px) {
      #contact #contact-info span {
        display: inline;
        text-align: left; } }
  #contact #contact-info a {
    text-decoration: underline; }
  #contact #contact-info .address br {
    display: none; }

#contact-separator {
  height: 21px;
  background: url("img/dots_pattern.jpg") repeat 0 0; }

.social-links li {
  float: left;
  margin: 0 0 0 10px; }

.social-links a {
  display: block;
  width: 25px;
  height: 26px;
  transition: none; }
  .social-links a.instagram {
    background: url("img/instagram.png") no-repeat 0 0;
    margin-top: -1px; }
    .social-links a.instagram:hover {
      background: url("img/instagram.png") no-repeat 0 -26px; }
  .social-links a.facebook {
    background: url("img/facebook.png") no-repeat 0 0; }
    .social-links a.facebook:hover {
      background: url("img/facebook.png") no-repeat 0 -26px; }
  .social-links a.pinterest {
    background: url("img/pinterest.png") no-repeat 0 0; }
    .social-links a.pinterest:hover {
      background: url("img/pinterest.png") no-repeat 0 -26px; }

.photo .overlay {
  position: absolute;
  top: 0;
  z-index: 10; }

.blue {
  background: #4e5b5d;
  color: #fff; }
  .blue .photo .overlay {
    background: rgba(78, 91, 93, 0.7); }

.white {
  background: #e7e7e8;
  color: #464646; }
  .white .photo .overlay {
    background: rgba(255, 255, 255, 0.7); }

.gold {
  background: #b0a160;
  color: #fff; }
  .gold .photo .overlay {
    background: rgba(176, 161, 95, 0.7); }

.gray .photo .overlay {
  background: rgba(109, 110, 113, 0.7); }

#page-header h3 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  background: url(img/hp-header-rule.jpg) no-repeat center bottom; }

#leaf-pattern {
  height: 32px;
  background: url(img/leaf-pattern.png) repeat-x center top; }

#breadcrumbs {
  padding: 20px 5%; }
  #breadcrumbs a {
    font-size: 0.625em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #808285;
    font-weight: 700; }

@media screen and (min-width: 1024px) {
  .product-details .photos {
    width: 66.6666%;
    margin: 0; }
  .product-details .product-info {
    width: 33.3333%; }
  .product-details .breadcrumbs {
    padding: 0 0 30px 0; }
  .product-details .photos,
  .product-details .product-info,
  .product-details .learn-more {
    padding: 0; } }

@media screen and (min-width: 1280px) {
  .related.product-list .product {
    width: 32.3333%;
    margin-bottom: 0; } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  background: url("img/header_pattern.jpg") repeat-x center top;
  position: relative; }
  header #logo {
    padding: 15px 5% 0 5%; }
    @media screen and (min-width: 1024px) {
      header #logo {
        position: absolute;
        left: 5%;
        top: 20px;
        padding: 0;
        width: auto;
        float: none;
        z-index: 100; } }
    header #logo a {
      display: block; }
  header #main {
    padding: 25px 0 35px 0; }
    @media screen and (min-width: 1024px) {
      header #main {
        padding: 50px 0 70px 0; } }
    header #main ul {
      text-align: center; }
      header #main ul li {
        display: block;
        padding: 10px 0; }
        @media screen and (min-width: 600px) {
          header #main ul li {
            display: inline-block;
            padding: 0 30px; } }
        header #main ul li a {
          text-transform: uppercase;
          color: #58585b;
          font-size: 0.8125em;
          line-height: 1em;
          font-weight: 700;
          letter-spacing: 1px; }
          header #main ul li a:hover, header #main ul li a.active {
            color: #ae9f5f; }
  @media screen and (min-width: 600px) {
    header #utilities {
      position: absolute;
      right: 5%;
      top: 20px; } }
  header #utilities .social-links {
    display: none; }
    @media screen and (min-width: 600px) {
      header #utilities .social-links {
        display: block;
        float: left;
        margin: 0 0 15px 0; } }
  header #utilities .cart-links {
    clear: both;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 5%; }
    @media screen and (min-width: 600px) {
      header #utilities .cart-links {
        position: static; } }
    header #utilities .cart-links span {
      display: block;
      font-size: 0.75em;
      text-transform: uppercase;
      font-weight: 500; }
      header #utilities .cart-links span a {
        display: inline-block;
        padding: 0 0 0 5px; }

#shop-nav {
  display: none;
  background: #404041;
  padding: 20px 0;
  position: relative;
  top: -17px;
  margin: 0 0 -17px 0; }
  #shop-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #shop-nav ul li {
      width: 50%;
      text-align: center; }
      @media screen and (min-width: 768px) {
        #shop-nav ul li {
          width: auto; } }
      #shop-nav ul li a {
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.6875em;
        line-height: 1em;
        letter-spacing: 1px;
        font-weight: 500;
        padding: 10px 20px; }
        #shop-nav ul li a:hover, #shop-nav ul li a.active {
          color: #ae9f5f; }

#shop #shop-nav {
  display: block; }

footer {
  padding: 45px 0; }
  footer .wrapper {
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  footer .col {
    width: 100%;
    padding: 0 5%;
    margin: 0 0 45px 0; }
    @media screen and (min-width: 768px) {
      footer .col {
        width: 20%;
        padding: 0 30px 0 0;
        margin: 0; } }
    footer .col h4 {
      background: url(img/footer-separator.jpg) no-repeat left bottom;
      color: #929497;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75em;
      padding: 0 0 10px 0;
      margin: 0 0 15px 0;
      letter-spacing: 2px; }
    footer .col h5 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.6875em;
      letter-spacing: 1px;
      margin: 0 0 5px 0; }
    footer .col p {
      font-size: 0.75em;
      font-family: "proxima-nova", sans-serif;
      margin: 0 0 15px 0; }
      footer .col p:last-of-type {
        margin: 0; }
  footer #contact-details a:hover {
    text-decoration: underline; }
  footer .visit-blog {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6875em;
    letter-spacing: 1px;
    border: 1px solid;
    padding: 6px 16px;
    display: inline-block;
    margin: 15px 0 0 0; }
    footer .visit-blog:hover {
      background: #8a7c41;
      color: #fff; }
  footer #social h5 {
    margin: 0 0 25px 0; }
    @media screen and (min-width: 768px) {
      footer #social h5 {
        margin: 0 0 15px 0; } }
    footer #social h5 a {
      color: #404041; }
      footer #social h5 a .network {
        padding: 0 0 9px 30px; }
      footer #social h5 a .url {
        text-transform: lowercase;
        font-weight: 400;
        padding: 0; }
        @media screen and (min-width: 768px) {
          footer #social h5 a .url {
            padding: 0 0 0 30px;
            display: block; } }
    footer #social h5.facebook a .network {
      background: url(img/facebook.png) no-repeat 0 0; }
    footer #social h5.facebook a:hover .network {
      background: url(img/facebook.png) no-repeat 0 -26px; }
    footer #social h5.instagram a .network {
      background: url(img/instagram.png) no-repeat 0 0; }
    footer #social h5.instagram a:hover .network {
      background: url(img/instagram.png) no-repeat 0 -26px; }
    footer #social h5.pinterest a .network {
      background: url(img/pinterest.png) no-repeat 0 0; }
    footer #social h5.pinterest a:hover .network {
      background: url(img/pinterest.png) no-repeat 0 -26px; }
  footer #sign-up,
  footer #terms {
    padding: 30px 5% 0 5%;
    width: 100%; }
    @media screen and (min-width: 768px) {
      footer #sign-up,
      footer #terms {
        padding: 30px 0 0 0; } }
  footer #terms a {
    text-transform: uppercase;
    font-size: 0.6875em;
    letter-spacing: 1px;
    color: #bbbdbf;
    font-weight: 700; }
  footer #sister-stores a {
    display: block;
    margin: 0 0 20px 0; }
    footer #sister-stores a img {
      display: block;
      max-width: 100%;
      max-height: 20px; }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body#home #page-header {
  padding: 80px 0; }
  @media screen and (min-width: 768px) {
    body#home #page-header {
      padding: 140px 0; } }
  body#home #page-header .wrapper {
    background: rgba(255, 255, 255, 0.85);
    width: 90%;
    padding: 40px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      body#home #page-header .wrapper {
        background: url(img/hp-header-bg.png) no-repeat 0 0;
        width: 738px;
        height: 298px;
        padding: 60px 100px 0 100px; } }

body#home section#features .feature {
  display: flex;
  flex-wrap: wrap;
  align-content: center; }
  @media screen and (min-width: 768px) {
    body#home section#features .feature:nth-child(odd) .info {
      order: -1; } }

body#home section#features .info {
  width: 100%;
  padding: 7.5% 10%; }
  @media screen and (min-width: 768px) {
    body#home section#features .info {
      width: 50%; } }
  body#home section#features .info h3 {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0; }
  body#home section#features .info p {
    font-size: 0.875em;
    line-height: 1.25em;
    margin: 0 0 25px 0;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      body#home section#features .info p {
        width: 75%; } }
  body#home section#features .info a {
    border: 2px solid;
    padding: 10px 20px;
    display: block;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6875em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.125em;
    margin: 0 0 30px 0; }
    body#home section#features .info a:hover {
      background: #ae9f5f;
      color: #fff;
      border-color: #ae9f5f; }

body#home section#features .photo {
  width: 100%;
  min-height: 300px; }
  @media screen and (min-width: 768px) {
    body#home section#features .photo {
      width: 50%; } }

body#home section#features .gold .info h3,
body#home section#features .blue .info h3 {
  background: url(img/white-rule.jpg) no-repeat left bottom; }

body#home section#features .white .info h3 {
  background: url(img/grey-rule.jpg) no-repeat left bottom; }

body#home section#features .gold .info a {
  color: #4e5b5d; }

body#home section#features .gold .info a:hover {
  background: #4e5b5d;
  color: #fff;
  border-color: #4e5b5d; }

#default-page .wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 5%; }
  @media screen and (min-width: 768px) {
    #default-page .wrapper {
      padding: 0; } }
  #default-page .wrapper .header {
    width: 100%;
    float: left;
    padding: 60px 0;
    text-align: center; }
    #default-page .wrapper .header h1 {
      font-weight: 700;
      font-size: 1.5em;
      letter-spacing: 2px;
      text-transform: uppercase; }
  #default-page .wrapper .body {
    width: 100%;
    float: left;
    padding: 0 0 60px 0; }
    #default-page .wrapper .body p, #default-page .wrapper .body ol, #default-page .wrapper .body ul {
      margin: 0 0 20px 0; }
    #default-page .wrapper .body h2, #default-page .wrapper .body h3, #default-page .wrapper .body h4, #default-page .wrapper .body h5, #default-page .wrapper .body h6 {
      margin: 0 0 10px 0;
      font-weight: 700; }
    #default-page .wrapper .body h2 {
      font-size: 1.25em;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 40px 0 0 0; }

#info #contact-info {
  padding: 75px 0;
  text-align: center; }
  #info #contact-info .wrapper {
    max-width: 720px;
    padding: 0 5% 25px 5%; }
  #info #contact-info h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 0 25px 0;
    font-weight: 700; }
    #info #contact-info h2#questions {
      padding-top: 40px; }
  #info #contact-info p {
    margin: 0 0 20px 0; }
    #info #contact-info p:last-of-type {
      margin: 0; }
  #info #contact-info h5 {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px; }

#services #page-header {
  background: url(img/floral-shapes.png) repeat-x center top;
  height: 243px;
  padding: 30px 0; }
  #services #page-header .wrapper {
    max-width: 720px; }
  #services #page-header .info {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 35px 100px; }
  #services #page-header p {
    font-size: 1em;
    line-height: 1.25em; }

#services .photo {
  height: 320px;
  background: #aaaaaa; }

#services .services-info {
  padding: 75px 0;
  text-align: center; }
  #services .services-info .wrapper {
    max-width: 720px;
    padding: 0 5% 25px 5%; }
    @media screen and (min-width: 768px) {
      #services .services-info .wrapper {
        padding: 0 0 25px 0; } }
  #services .services-info h2 {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 0 25px 0;
    margin: 0 0 25px 0; }
  #services .services-info.gold h2,
  #services .services-info.blue h2 {
    background: url(img/services-rule-white.png) no-repeat center bottom; }
  #services .services-info.white h2 {
    background: url(img/services-rule-gray.png) no-repeat center bottom; }
  #services .services-info.gold .wrapper,
  #services .services-info.blue .wrapper {
    background: url(img/services-rule-white.png) no-repeat center bottom; }
  #services .services-info.white .wrapper {
    background: url(img/services-rule-gray.png) no-repeat center bottom; }
  #services .services-info p {
    font-size: 1em;
    line-height: 1.25em; }
  #services .services-info .cta {
    display: block;
    margin: 25px auto 0 auto;
    width: 329px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 2px; }
  #services .services-info.gold .cta {
    background: url(img/blue-button.png) no-repeat 0 0; }
  #services .services-info.blue .cta,
  #services .services-info.white .cta {
    background: url(img/gold-button.png) no-repeat 0 0; }

#services .extended .deck {
  padding: 0 0 50px 0; }

#services .feature {
  padding: 0 0 50px 0; }
  #services .feature:last-of-type {
    padding: 0 0 30px 0; }
  #services .feature h3 {
    background: url(img/hp-header-rule.jpg) no-repeat center bottom;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    font-family: "Cassia Italic", serif;
    font-size: 1.125em;
    letter-spacing: 3px; }

#blog-archive {
  padding: 40px 5%; }
  @media screen and (min-width: 600px) {
    #blog-archive {
      padding: 40px 1%; } }
  #blog-archive .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #blog-archive article {
    width: 100%;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 60px 0; }
    @media screen and (min-width: 600px) {
      #blog-archive article {
        width: 49%; } }
    @media screen and (min-width: 1024px) {
      #blog-archive article {
        width: 32.3333%; } }
    @media screen and (min-width: 600px) {
      #blog-archive article .photo {
        height: 220px;
        overflow: hidden; } }
    @media screen and (min-width: 640px) {
      #blog-archive article .photo {
        margin: 0 0 20px 0; } }
    @media screen and (min-width: 1024px) {
      #blog-archive article .photo {
        height: 200px; } }
    @media screen and (min-width: 1280px) {
      #blog-archive article .photo {
        height: 240px; } }
    #blog-archive article img {
      display: block;
      width: 100%; }
    #blog-archive article .info {
      padding: 20px 20px 0 0; }
      @media screen and (min-width: 600px) {
        #blog-archive article .info {
          height: 160px;
          padding-top: 0; } }
      #blog-archive article .info h2 {
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 0 10px 0; }
        #blog-archive article .info h2 a {
          color: #59585b; }
      #blog-archive article .info h4 {
        font-size: 0.75em;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 0 10px 0;
        font-weight: 700; }
      #blog-archive article .info h5 {
        font-family: "Cassia Italic", serif;
        font-size: 0.75em;
        padding: 0 0 10px 0; }
      #blog-archive article .info p {
        font-size: 0.875em;
        line-height: 1.25em;
        margin: 0 0 10px 0; }
      #blog-archive article .info .read-more {
        text-transform: uppercase;
        text-align: right;
        font-weight: 700;
        font-size: 0.6875em;
        text-decoration: underline;
        display: block; }

.single .post {
  padding: 0 5% 60px 5%; }
  .single .post #breadcrumbs {
    padding: 20px 0;
    width: 100%; }
  .single .post .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .single .post article {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .single .post article {
        width: 75%;
        padding: 0 50px 0 0;
        border-right: 1px solid #afa060; } }
    .single .post article h1 {
      font-size: 1.625em;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
      padding: 0 0 15px 0; }
    .single .post article h4 {
      font-family: "Cassia Italic", serif;
      font-size: 0.875em;
      padding: 0 0 20px 0;
      letter-spacing: 1px; }
    .single .post article p {
      margin: 0 0 30px 0;
      font-size: 1em;
      line-height: 1.25em; }
    .single .post article img {
      display: block;
      max-width: 100%; }
    .single .post article .featured-photo {
      margin: 0 0 20px 0; }
    .single .post article .wp-caption {
      margin: 0 0 30px 0; }
      .single .post article .wp-caption .wp-caption-text {
        font-family: "Cassia Italic", serif;
        font-size: 0.875em;
        margin: 0;
        padding: 10px 0 0 0; }
  @media screen and (min-width: 768px) {
    .single .post #sidebar {
      width: 25%;
      padding: 0 0 0 50px; } }
  .single .post #sidebar > div {
    width: 100%;
    margin: 0 0 60px 0; }
    .single .post #sidebar > div h4 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 1.25em;
      line-height: 1em;
      padding: 0 0 25px 0;
      margin: 0 0 25px 0;
      background: url(img/sidebar-rule.png) no-repeat left bottom; }
  .single .post #sidebar #tags-list {
    color: #999;
    font-size: 0.875em; }
    .single .post #sidebar #tags-list a {
      color: #999 !important;
      background: transparent !important;
      font-family: "proxima-nova", sans-serif;
      text-transform: lowercase; }
      .single .post #sidebar #tags-list a:hover {
        text-decoration: underline; }
  .single .post #sidebar #recent-list .post {
    padding: 0;
    margin: 0 0 30px 0; }
    .single .post #sidebar #recent-list .post:last-of-type {
      margin: 0; }
    .single .post #sidebar #recent-list .post h3 {
      font-family: "proxima-nova", sans-serif;
      font-size: 1em; }
    .single .post #sidebar #recent-list .post h5 {
      font-family: "Cassia Italic", serif;
      font-size: 0.75em;
      letter-spacing: 1px; }
  .single .post #sidebar #archives-list li {
    display: inline-block;
    color: #999;
    font-family: "proxima-nova", sans-serif;
    font-size: 0.875em; }
    .single .post #sidebar #archives-list li a {
      color: #999; }
  .single .post #sidebar #archives-list span {
    display: inline-block;
    padding: 0 5px; }
  .single .post .post-tags {
    color: #ae9f5f; }
    .single .post .post-tags a {
      font-family: "Cassia Italic", serif;
      text-transform: lowercase;
      font-size: 0.75em;
      letter-spacing: 1px; }
      .single .post .post-tags a:hover {
        text-decoration: underline; }

.single .share {
  margin: 0 0 10px 0; }
  .single .share ul {
    width: 50px;
    padding: 15px 0 0 0;
    border-top: 1px solid #d7d7d7;
    display: flex;
    width: 100%; }
    .single .share ul li {
      margin: 0 10px 0 0; }
      .single .share ul li a {
        display: block;
        width: 25px;
        height: 26px; }
        .single .share ul li a.instagram {
          background: url("img/instagram.png") no-repeat 0 0; }
          .single .share ul li a.instagram:hover {
            background: url("img/instagram.png") no-repeat 0 -26px; }
        .single .share ul li a.facebook {
          background: url("img/facebook.png") no-repeat 0 0; }
          .single .share ul li a.facebook:hover {
            background: url("img/facebook.png") no-repeat 0 -26px; }
        .single .share ul li a.pinterest {
          background: url("img/pinterest.png") no-repeat 0 0; }
          .single .share ul li a.pinterest:hover {
            background: url("img/pinterest.png") no-repeat 0 -26px; }

#collection-header {
  background: url("img/floral_pattern.jpg") repeat-x center top;
  padding: 40px 0; }
  #collection-header .wrapper {
    max-width: 680px; }
  #collection-header .info {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 35px 70px; }
    #collection-header .info h1 {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.375em;
      padding: 0 0 15px 0;
      background: url("img/header-separator.jpg") no-repeat center bottom;
      margin: 0 0 15px 0; }
    #collection-header .info p {
      font-size: 0.9375em;
      font-family: "proxima-nova", sans-serif; }

.post-type-archive-collections #page-header {
  background: url(img/collections_pattern.jpg) repeat 0 0;
  padding: 40px; }
  .post-type-archive-collections #page-header .wrapper {
    background: rgba(255, 255, 255, 0.85);
    width: 90%;
    margin: 30px auto;
    text-align: center;
    max-width: 690px;
    padding: 40px; }
  .post-type-archive-collections #page-header h3 {
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    background: url(img/hp-header-rule.jpg) no-repeat center bottom; }

.post-type-archive-collections #list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 5%; }
  .post-type-archive-collections #list .col {
    width: 100%; }
    @media screen and (min-width: 600px) {
      .post-type-archive-collections #list .col {
        width: 49%; } }
    @media screen and (min-width: 1024px) {
      .post-type-archive-collections #list .col {
        width: 24%; } }
    .post-type-archive-collections #list .col .list-wrapper {
      border-top: 1px solid #c2c2c2;
      padding: 30px 0 35px 0; }
      @media screen and (min-width: 600px) {
        .post-type-archive-collections #list .col .list-wrapper {
          width: 66.6667%; } }
    .post-type-archive-collections #list .col h3 {
      font-size: 0.875em;
      line-height: 1.125em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 0 0 30px 0;
      clear: both; }
    .post-type-archive-collections #list .col a {
      display: block;
      font-size: 1em;
      line-height: 1em;
      margin: 0 0 15px 0; }

.single-collections article {
  text-align: center;
  padding: 50px 0 60px 0;
  background: #f4f4f4;
  color: #58595b; }
  .single-collections article .wrapper {
    max-width: 800px; }
  .single-collections article h1 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 0 10px 0; }
  .single-collections article h2 {
    font-size: 1.125em;
    font-family: "Cassia Italic", serif;
    letter-spacing: 2px;
    background: url(img/hp-header-rule.jpg) no-repeat center bottom;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0; }
  .single-collections article #shop-link {
    display: inline-block;
    border: 1px solid #b0a160;
    color: #b0a160;
    padding: 15px 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875em; }
    .single-collections article #shop-link:hover {
      background: #b0a160;
      color: #fff; }
  .single-collections article #note {
    padding: 25px 0 0 0;
    font-size: 0.875em;
    line-height: 1.375em;
    font-family: "Cassia Italic", serif;
    letter-spacing: 1px; }
    .single-collections article #note a:hover {
      text-decoration: underline; }
  .single-collections article .categories h3 {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background: url(img/hp-header-rule.jpg) no-repeat center bottom;
    padding: 0 0 15px 0;
    margin: 40px 0 15px 0; }
  .single-collections article .categories p {
    padding: 0 0 40px 0;
    font-size: 0.875em; }

.single-collections .photo {
  height: 420px; }

body#shop section#types {
  display: flex;
  flex-wrap: wrap; }
  body#shop section#types .type {
    width: 100%; }
    @media screen and (min-width: 768px) {
      body#shop section#types .type {
        width: 50%; } }
    @media screen and (min-width: 1280px) {
      body#shop section#types .type {
        width: 33.33333%; } }
    body#shop section#types .type.shop-gift-certificates {
      width: 100%; }
      @media screen and (min-width: 768px) {
        body#shop section#types .type.shop-gift-certificates .photo {
          height: 200px; } }
    body#shop section#types .type .header {
      text-align: center;
      padding: 50px 0;
      display: none; }
      body#shop section#types .type .header h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1em;
        font-weight: 700; }
        body#shop section#types .type .header h2 em {
          text-transform: lowercase;
          font-family: 'Cassia Italic';
          font-style: normal;
          font-size: 0.875em;
          font-weight: normal; }
    body#shop section#types .type .photo {
      height: 340px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (min-width: 768px) {
        body#shop section#types .type .photo {
          height: 400px; } }
      body#shop section#types .type .photo .overlay {
        position: absolute;
        z-index: 50;
        height: 100%; }
      body#shop section#types .type .photo .cta {
        z-index: 100;
        text-transform: lowercase;
        font-family: "Cassia Italic", serif;
        font-size: 1em;
        letter-spacing: 2px;
        margin: auto;
        width: 320px;
        display: block;
        opacity: 0.7; }
        body#shop section#types .type .photo .cta:hover {
          opacity: 0.8; }
        body#shop section#types .type .photo .cta span {
          display: block;
          text-align: center;
          border: 1px solid #fff;
          margin: 10px;
          padding: 23px 23px 20px 23px; }
    body#shop section#types .type.white .header {
      background: #fff;
      color: #58595b; }
    body#shop section#types .type.white .photo .cta {
      background: #fff;
      color: #58595b; }
      body#shop section#types .type.white .photo .cta span {
        border: 1px solid #58595b; }
    body#shop section#types .type.blue .photo .cta {
      background: #4e5b5d;
      color: #fff; }
    body#shop section#types .type.gold .photo .cta {
      background: #b0a160;
      color: #fff; }
    body#shop section#types .type.gray .header {
      background: #6d6e71;
      color: #fff; }
    body#shop section#types .type.gray .photo .cta {
      background: #6d6e71;
      color: #fff; }

body#shop .shop-jewelry.gold .photo .overlay,
body#shop .shop-baby.gold .photo .overlay {
  background: rgba(176, 161, 95, 0.5); }

.product-list {
  padding: 30px 1%; }
  .product-list .product {
    width: 99%;
    float: left;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0.5% 60px 0.5%; }
    @media screen and (min-width: 600px) {
      .product-list .product {
        width: 49%; } }
    @media screen and (min-width: 768px) {
      .product-list .product {
        width: 32.3333%; } }
    @media screen and (min-width: 1280px) {
      .product-list .product {
        width: 24%; } }
    .product-list .product img {
      display: block;
      width: 100%;
      margin: 0 0 20px 0; }
    .product-list .product .photo-link {
      position: relative;
      display: block; }
      .product-list .product .photo-link .view {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .3s ease-in; }
        .product-list .product .photo-link .view .overlay {
          background: rgba(78, 90, 92, 0.7); }
        .product-list .product .photo-link .view span {
          color: #fff;
          font-family: "Cassia Regular", serif;
          background: #4e5a5c;
          padding: 25px 60px;
          letter-spacing: 2px;
          font-size: 1em;
          position: absolute; }
          .product-list .product .photo-link .view span em {
            font-family: "Cassia Italic", serif;
            font-style: normal; }
      .product-list .product .photo-link:hover .view {
        opacity: 1; }
    .product-list .product .product-info {
      float: left;
      width: 60%;
      padding: 0 0 0 8px; }
      .product-list .product .product-info .collection {
        font-family: "Cassia Italic", serif;
        font-size: 0.75em;
        letter-spacing: 2px; }
    .product-list .product h3 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 900;
      font-size: 0.75em;
      margin: 0 0 5px 0; }
    .product-list .product .price {
      float: right;
      width: 40%;
      text-align: right;
      padding: 0 8px 0 0; }
      .product-list .product .price .add-to-cart {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.6875em;
        text-decoration: underline; }
    .product-list .product h3 a,
    .product-list .product .collection {
      color: #58585b; }
    .product-list .product .collection:hover {
      text-decoration: underline; }
