/*

    Theme Name: Essenza
    Theme URI: http://www.essenzaseattle.com/
    Author: Graphiti
    Author URI: http://www.graphiti.com/
    Description: Essenza
    Version: 1.0

    TABLE OF CONTENTS
    
    01  Defaults
    02  Typography
    03  Basic Layout
    04  Header
    05  Footer
    06  Home
	07	The Store
	08	Our Designers
	09	Services
	10	Shop
	11	Blog

    XX  Media Queries
        - 600
        - 768
        - 1024

*/








/*

    ----------------------------------------------------------------------
                                01 Defaults
    ----------------------------------------------------------------------

*/


/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary  { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }


/* HTML & BODY */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0; font-size: 1em; line-height: 1.4; }


/* Links */
a { text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 600; }
i, em { font-style: italic; }
blockquote { margin: 0; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; }
p, pre { margin: 1em 0; }
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre {  white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, h4, h5, h6, p { margin: 0; font-weight: normal; -webkit-margin-before: 0; -webkit-margin-after: 0; }


/* Lists */
dd { margin: 0 0 0 40px; }
ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* Embedded Content */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }


/* Figure */
figure { margin: 0; }


/* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* Tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li { position: relative; }


/* Selection  */
::-moz-selection { background: #b49041; color: #fff; text-shadow: none; }
::selection { background: #b49041; color: #fff; text-shadow: none; }


/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* Border-Box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Image replacement */
.ir { font: 0/0 a; text-shadow: none; color: transparent; }








/*

    ----------------------------------------------------------------------
                                02 Typography
    ----------------------------------------------------------------------

	font-family: "brandon-grotesque";
	400
	500
	700
	
	font-family: "proxima-nova";
	400

*/


@font-face {
	font-family: 'Cassia Regular';
	src: url('fonts/26C8CB_5_0.eot');
	src: url('fonts/26C8CB_5_0.eot?#iefix') format('woff'),
		 url('fonts/26C8CB_5_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Cassia Italic';
	src: url('fonts/26C8CB_1_0.eot');
	src: url('fonts/26C8CB_1_0.eot?#iefix') format('woff'),
		 url('fonts/26C8CB_1_0.ttf') format('truetype');
}


/* Rendering & Ligatures */
html, input, textarea { -webkit-font-smoothing: antialiased; }
body { text-rendering: optimizeLegibility; }


/* Fonts */
body, input, textarea { color: #58585b; font-family: 'brandon-grotesque', Arial, sans-serif; }


/* Link Colors */
a { color: #ae9f5f; }
a:hover, a.active { color: #ae9f5f; }








/*

    ----------------------------------------------------------------------
                                03 Layout
    ----------------------------------------------------------------------

*/


html { background: #fff; }

header,
footer,
section,
article { width: 100%; float: left; position: relative; }

.wrapper { margin: 0 auto; }



#contact { width: 100%; float: left; padding: 70px 0; background: url('img/chevron_pattern.jpg') repeat 0 0; }
#contact .wrapper { max-width: 720px; }

#contact h3 { text-transform: uppercase; font-weight: 600; font-size: 1.75em; line-height: 1em; letter-spacing: 1px; text-align: center; margin: 0 0 15px 0; }
#contact #contact-info {  }
#contact #contact-info span {  font-size: 1em; font-weight: 500; display: block; text-align: center; text-transform: lowercase; }
#contact #contact-info a { text-decoration: underline; }
#contact #contact-info .address br { display: none; }
#contact-separator { width: 100%; float: left; height: 21px; background: url('img/dots_pattern.jpg') repeat 0 0; }


.social-links li { float: left; margin: 0 0 0 10px; }
.social-links a { display: block; width: 25px; height: 26px; }
.social-links .instagram { background: url('img/instagram.png') no-repeat 0 0; margin-top: -1px; }
.social-links .instagram:hover { background: url('img/instagram.png') no-repeat 0 -26px; }
.social-links .facebook { background: url('img/facebook.png') no-repeat 0 0; }
.social-links .facebook:hover { background: url('img/facebook.png') no-repeat 0 -26px; }
.social-links .pinterest { background: url('img/pinterest.png') no-repeat 0 0; }
.social-links .pinterest:hover { background: url('img/pinterest.png') no-repeat 0 -26px; }


/*

    ----------------------------------------------------------------------
                                04 Header
    ----------------------------------------------------------------------

*/

header { background: url('img/header_pattern.jpg') repeat-x center top; }
header #logo { width: 100%; float: left; padding: 15px 5% 0 5%; }
header #logo a { display: block; }

header #main { width: 100%; float: left; padding: 25px 0 35px 0; }
header #main ul { text-align: center; }
header #main ul li { display: block; padding: 10px 0; }
header #main ul li a { text-transform: uppercase; color: #58585b; font-size: 0.8125em; line-height: 1em; font-weight: 700; letter-spacing: 1px; }
header #main ul li a:hover, 
header #main ul li a.active { color: #ae9f5f; }





header #utilities {  }
header #utilities .social-links { display: none; }

header #utilities .cart-links { clear: both; text-align: right; position: absolute; top: 15px; right: 5%; }
header #utilities .cart-links span { display: block; font-size: 0.75em; text-transform: uppercase; font-weight: 500; }
header #utilities .cart-links span a { display: inline-block; padding: 0 0 0 5px; }



/* Shop Nav
-----------------------*/
#shop-nav {  display: none; background: #404041; width: 100%; float: left; padding: 20px 0; position: relative; top: -17px; margin: 0 0 -17px 0; }

#shop-nav ul { max-width: 500px; margin: 0 auto; }
#shop-nav ul li { width: 33.3333%; float: left; text-align: center; padding: 10px 0; }
#shop-nav ul li a { display: block; color: #fff; text-transform: uppercase; font-size: 0.6875em; line-height: 1em; letter-spacing: 1px; font-weight: 500; }

#shop-nav ul li a:hover,
#shop-nav ul li a.active { color: #ae9f5f; }

#shop #shop-nav { display: block; }


/*

    ----------------------------------------------------------------------
                                05 Footer
    ----------------------------------------------------------------------

*/

footer { padding: 45px 0; }
footer .wrapper { max-width: 940px; }

footer .col { width: 100%; float: left; padding: 0 5%; margin: 0 0 45px 0; }
footer .col h4 { background: url('img/footer-separator.jpg') no-repeat left bottom; color: #929497; text-transform: uppercase; font-weight: 700; font-size: 0.75em; padding: 0 0 10px 0; margin: 0 0 15px 0; letter-spacing: 2px;}
footer .col h5 { text-transform: uppercase; font-weight: 700; font-size: 0.6875em; letter-spacing: 1px; margin: 0 0 5px 0; }
footer .col p { font-size: 0.75em; font-family: "proxima-nova", Arial, sans-serif; margin: 0 0 15px 0; }
footer .col p:last-of-type { margin: 0; }

footer #contact-details a:hover { text-decoration: underline; }

footer .visit-blog { text-transform: uppercase; font-weight: 700; font-size: 0.6875em; letter-spacing: 1px; border: 1px solid; padding: 6px 16px; display: block; float: left; margin: 15px 0 0 0; }
footer .visit-blog:hover { background: #8a7c41; color: #fff; }


footer #social h5 { margin: 0 0 25px 0; }
footer #social h5 a { color: #404041; }
footer #social h5 a .network {  padding: 0 0 9px 30px; }
footer #social h5 a .url { text-transform: lowercase; font-weight: 400;  padding: 0 0 0 0; }

footer #social h5.facebook a .network { background: url('img/facebook.png') no-repeat 0 0; }
footer #social h5.facebook a:hover .network { background: url('img/facebook.png') no-repeat 0 -26px; }
footer #social h5.instagram a .network { background: url('img/instagram.png') no-repeat 0 0; }
footer #social h5.instagram a:hover .network { background: url('img/instagram.png') no-repeat 0 -26px; }
footer #social h5.pinterest a .network { background: url('img/pinterest.png') no-repeat 0 0; }
footer #social h5.pinterest a:hover .network { background: url('img/pinterest.png') no-repeat 0 -26px; }

footer #sign-up { width: 100%; float: left; clear: both; padding: 30px 5% 0 5%; }

footer #terms { width: 100%; float: left; clear: both; padding: 30px 5% 0 5%; }
footer #terms a { text-transform: uppercase; font-size: 0.6875em; letter-spacing: 1px; color: #bbbdbf; font-weight: 700; }

footer #sister-stores a { display: block; margin: 0 0 20px 0;  }
footer #sister-stores a img { display: block; max-width: 100%; max-height: 20px; }

/*

    ----------------------------------------------------------------------
                                06 Home
    ----------------------------------------------------------------------

*/




.blue { background: #4e5b5d; color: #fff; }
.white { background: #e7e7e8; color: #464646; }
.gold { background: #b0a160; color: #fff; }



#home .info { width: 100%; float: left; padding: 7.5% 10% 0 10%; }
#home .info h3 { font-size: 1.25em; line-height: 1em; font-weight: 500; text-transform: uppercase; letter-spacing: 2px; padding: 0 0 20px 0; margin: 0 0 20px 0; }
#home .info p { font-size: 0.875em; line-height: 1.25em; margin: 0 0 25px 0; width: 100% }
#home .info a { border: 2px solid; padding: 10px 20px; display: block; float: left; text-align: center; text-transform: uppercase; font-size: 0.6875em; font-weight: 600; letter-spacing: 1px; line-height: 1.125em; margin: 0 0 30px 0; }
#home .info a:hover { background: #ae9f5f; color: #fff; border-color: #ae9f5f; }

#home .gold .info h3,
#home .blue .info h3 { background: url(img/white-rule.jpg) no-repeat left bottom; }

#home .white .info h3 { background: url(img/grey-rule.jpg) no-repeat left bottom; }

#home .gold .info a { color: #4e5b5d; }
#home .gold .info a:hover { background: #4e5b5d; color: #fff; border-color: #4e5b5d; }


#home .photo { width: 100%; float: left; height: 320px; position: relative; }
.photo .overlay { position: absolute; top: 0; z-index: 10; }



.blue .photo .overlay { background: rgba(78, 91, 93, 0.7); }
.white .photo .overlay { background: rgba(255, 255, 255, 0.7); }
.gold .photo .overlay { background: rgba(176, 161, 95, 0.7); }



#home #page-header { padding: 80px 0; }
#home #page-header .wrapper { background: rgba(255, 255, 255, 0.85); width: 90%; padding: 40px; text-align: center;  }
#page-header h3 { font-size: 1em; line-height: 1.5em; font-weight: 600; text-transform: uppercase; letter-spacing: 3px; padding: 0 0 20px 0; margin: 0 0 20px 0; background: url(img/hp-header-rule.jpg) no-repeat center bottom; }







/*

    ----------------------------------------------------------------------
                                07 Services
    ----------------------------------------------------------------------

*/

#services #page-header { background: url(img/floral-shapes.png) repeat-x center top; height: 243px; padding: 30px 0; }
#services #page-header .wrapper { max-width: 720px; }
#services #page-header .info { width: 100%; float: left; background: rgba(255, 255, 255, 0.8); text-align: center; padding: 35px 100px; }
#services #page-header p { font-size: 1em; line-height: 1.25em; }


#services .photo { height: 320px; background: #aaaaaa; }


#services .services-info { padding: 75px 0; text-align: center;  }
#services .services-info .wrapper { max-width: 720px; padding: 0 5% 25px 5%; }
#services .services-info h2 { font-size: 1.25em; text-transform: uppercase; letter-spacing: 3px; padding: 0 0 25px 0; margin: 0 0 25px 0; }
#services .services-info.gold h2,
#services .services-info.blue h2 { background: url(img/services-rule-white.png) no-repeat center bottom; }
#services .services-info.white h2 { background: url(img/services-rule-gray.png) no-repeat center bottom; }


#services .services-info.gold .wrapper,
#services .services-info.blue .wrapper { background: url(img/services-rule-white.png) no-repeat center bottom; }
#services .services-info.white .wrapper { background: url(img/services-rule-gray.png) no-repeat center bottom; }


#services .services-info p { font-size: 1em; line-height: 1.25em; }


#services .services-info .cta { display: block; margin: 25px auto 0 auto; width: 329px; height: 45px; line-height: 45px; text-align: center; color: #fff; text-transform: uppercase; font-size: 0.875em; letter-spacing: 2px; }
#services .services-info.gold .cta { background: url(img/blue-button.png) no-repeat 0 0; }
#services .services-info.blue .cta, 
#services .services-info.white .cta { background: url(img/gold-button.png) no-repeat 0 0; }


#services .extended .deck { padding: 0 0 50px 0; }
#services .feature { padding: 0 0 50px 0; }
#services .feature:last-of-type { padding: 0 0 30px 0; }
#services .feature h3 { background: url(img/hp-header-rule.jpg) no-repeat center bottom; padding: 0 0 15px 0; margin: 0 0 15px 0; font-family: 'Cassia Italic'; font-size: 1.125em; letter-spacing: 3px; }




/*

    ----------------------------------------------------------------------
                                XX Product List
    ----------------------------------------------------------------------

*/

.product-list { padding: 30px 1%;  }
.product-list .product { width: 99%; float: left; padding: 0 0 20px 0; border-bottom: 1px solid #d9d9d9; margin: 0 0.5% 60px 0.5%; }
.product-list .product img { display: block; width: 100%; margin: 0 0 20px 0; }

.product-list .product .photo-link { position: relative; display: block;  }
.product-list .product .photo-link .view {  opacity: 0; position: absolute; top: 0; left: 0; 
	-webkit-transition: opacity .3s ease-in;
	   -moz-transition: opacity .3s ease-in;
	     -o-transition: opacity .3s ease-in;
	        transition: opacity .3s ease-in;
}
.product-list .product .photo-link:hover .view { opacity: 1; }
.product-list .product .photo-link .view .overlay { background: rgba(78, 90, 92, 0.7); }
.product-list .product .photo-link .view span { color: #fff; font-family: 'Cassia Regular', Georgia, serif; background: #4e5a5c; padding: 25px 60px;  letter-spacing: 2px; font-size: 1em; position: absolute; }
.product-list .product .photo-link .view span em { font-family: 'Cassia Italic', Georgia, serif; font-style: normal; }


.product-list .product .product-info { float: left; width: 60%; padding: 0 0 0 8px; }
.product-list .product h3 { text-transform: uppercase; letter-spacing: 1px; font-weight: 900; font-size: 0.75em; margin: 0 0 5px 0; }
.product-list .product .product-info .collection { font-family: 'Cassia Italic', Georgia, serif; font-size: 0.75em; letter-spacing: 2px; }

.product-list .product h3 a,
.product-list .product .collection { color: #58585b; }
.product-list .product .collection:hover { text-decoration: underline; }

.product-list .product .price { float: right; width: 40%; text-align: right; padding: 0 8px 0 0; }
.product-list .product .price .add-to-cart { text-transform: uppercase; font-weight: 700; font-size: 0.6875em; text-decoration: underline; }










/*

    ----------------------------------------------------------------------
                                XX Category Index
    ----------------------------------------------------------------------

*/

#collection-header { background: url('img/floral_pattern.jpg') repeat-x center top; }
#collection-header .wrapper { max-width: 680px; }
#collection-header .info { width: 100%; float: left; background: rgba(255, 255, 255, 0.8); text-align: center; padding: 35px 70px; margin: 40px 0; }
#collection-header .info h1 { font-weight: 600; text-transform: uppercase; letter-spacing: 2px; font-size: 1.375em; padding: 0 0 15px 0; background: url('img/header-separator.jpg') no-repeat center bottom; margin: 0 0 15px 0; }
#collection-header .info p { font-size: 0.9375em; font-family: "proxima-nova", Arial, sans-serif; }










.post-type-archive-collections #page-header { background: url(img/collections_pattern.jpg) repeat-x 0 0; }
.post-type-archive-collections #page-header .wrapper { background: rgba(255, 255, 255, 0.85); width: 90%; padding: 40px; margin: 30px auto; text-align: center; max-width: 690px; }

.post-type-archive-collections  #page-header h3 { font-size: 1em; line-height: 1em; font-weight: 600; text-transform: uppercase; letter-spacing: 2px; padding: 0 0 20px 0; margin: 0 0 20px 0; background: url(img/hp-header-rule.jpg) no-repeat center bottom; }




.post-type-archive-collections #list { width: 100%; float: left; padding: 60px 5%; }
.post-type-archive-collections #list .col { width: 99%; float: left; margin: 0 0.5%;  }
.post-type-archive-collections #list .col .list-wrapper { width: 100%; float: left;  border-top: 1px solid #c2c2c2; padding: 30px 0 35px 0; }
.post-type-archive-collections #list .col h3 { font-size: 0.875em; line-height: 1.125em; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; padding: 0 0 30px 0; clear: both;  }
.post-type-archive-collections #list .col a {  display: block; font-size: 1em; line-height: 1em; margin: 0 0 15px 0; }



.single-collections article { text-align: center; padding: 50px 0 60px 0; background: #f4f4f4; color: #58595b; }
.single-collections article .wrapper { max-width: 800px; }
.single-collections article h1 { font-size: 1.5em; font-weight: 700; text-transform: uppercase; letter-spacing: 3px; padding: 0 0 10px 0; }
.single-collections article h2 { font-size: 1.125em;  font-family: 'Cassia Italic', Georgia, serif; letter-spacing: 2px; background: url(img/hp-header-rule.jpg) no-repeat center bottom; padding: 0 0 15px 0; margin: 0 0 15px 0;  }



.single-collections article #shop-link { display: inline-block; border: 1px solid #b0a160; color: #b0a160; padding: 15px 45px; font-weight: 700; text-transform: uppercase; letter-spacing: 2px; font-size: 0.875em; }
.single-collections article #shop-link:hover { background: #b0a160; color: #fff; }
.single-collections article #note { padding: 25px 0 0 0; font-size: 0.875em; line-height: 1.375em; font-family: 'Cassia Italic', Georgia, serif; letter-spacing: 1px;  }
.single-collections article #note a:hover { text-decoration: underline; }


.single-collections article .categories h3 { font-size: 0.875em; text-transform: uppercase; font-weight: 500; letter-spacing: 2px; background: url(img/hp-header-rule.jpg) no-repeat center bottom; padding: 0 0 15px 0; margin: 40px 0 15px 0;  }
.single-collections article .categories p { padding: 0 0 40px 0; font-size: 0.875em; }


.single-collections .photo { height: 420px; background: #aaaaaa; }



#leaf-pattern { height: 32px; background: url(img/leaf-pattern.png) repeat-x center top; }
#breadcrumbs { padding: 20px 5%; }

#breadcrumbs a { font-size: 0.625em; letter-spacing: 2px; text-transform: uppercase; color: #808285; font-weight: 700; }


/*

    ----------------------------------------------------------------------
                                XX Blog
    ----------------------------------------------------------------------

*/

#blog-archive { padding: 40px 5%;  }
#blog-archive article { width: 99%; float: left; padding: 0 0 20px 0; border-bottom: 1px solid #d9d9d9; margin: 0 0.5% 60px 0.5%; }
#blog-archive article img { display: block; width: 100%; }

#blog-archive article .info { width: 100%; float: left; padding: 20px 20px 0 0; }
#blog-archive article .info h2 { font-size: 1em; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; padding: 0 0 10px 0; }
#blog-archive article .info h2 a { color: #59585b; }

#blog-archive article .info h4 { font-size: 0.75em; letter-spacing: 1px; text-transform: uppercase; padding: 0 0 10px 0; font-weight: 700; }
#blog-archive article .info h5 { font-family: 'Cassia Italic'; font-size: 0.75em; padding: 0 0 10px 0; }
#blog-archive article .info p { font-size: 0.875em; line-height: 1.25em; margin: 0 0 10px 0; }
#blog-archive article .info .read-more { text-transform: uppercase; text-align: right; font-weight: 700; font-size: 0.6875em; text-decoration: underline; display: block; }



.single .post #breadcrumbs { padding: 20px 0; }

.single .post { padding: 0 5% 60px 5%; }
.single .post .wrapper { max-width: 1200px; margin: 0 auto; }
.single .post article { width: 100%; float: left; }
.single .post #sidebar { width: 100%; float: left; }

.single .post article h1 { font-size: 1.625em; text-transform: uppercase; letter-spacing: 4px; font-weight: 700; padding: 0 0 15px 0; }
.single .post article h4 { font-family: 'Cassia Italic'; font-size: 0.875em; padding: 0 0 20px 0; letter-spacing: 1px; }
.single .post article p { margin: 0 0 30px 0; font-size: 1em; line-height: 1.25em; }
.single .post article img { display: block; max-width: 100%; }

.single .post article .featured-photo { width: 100%; float: left; margin: 0 0 20px 0; }

.single #sidebar > div { width: 100%; float: left; margin: 0 0 60px 0; }
.single #sidebar > div h4 { text-transform: uppercase; letter-spacing: 2px; font-weight: 700; font-size: 1.25em; line-height: 1em; padding: 0 0 25px 0; margin: 0 0 25px 0; background: url(img/sidebar-rule.png) no-repeat left bottom; }


.single .post article .wp-caption { width: 100%; float: left; margin: 0 0 30px 0; }
.single .post article .wp-caption .wp-caption-text { font-family: 'Cassia Italic'; font-size: 0.875em; margin: 0; padding: 10px 0 0 0; }


.single .share { width: 100%; float: left; margin: 0 0 10px 0; }
.single .share ul { width: 50px; float: left; padding: 15px 0 0 0; border-top: 1px solid #d7d7d7; }

.share li { float: left; margin: 0 0 0 10px; }
.share a { display: block; width: 25px; height: 26px; }
.share .instagram { background: url('img/instagram.png') no-repeat 0 0; margin-top: -1px; }
.share .instagram:hover { background: url('img/instagram.png') no-repeat 0 -26px; }
.share .facebook { background: url('img/facebook.png') no-repeat 0 0; }
.share .facebook:hover { background: url('img/facebook.png') no-repeat 0 -26px; }
.share .pinterest { background: url('img/pinterest.png') no-repeat 0 0; }
.share .pinterest:hover { background: url('img/pinterest.png') no-repeat 0 -26px; }

.single .post-tags { width: 100%; float: left; color: #ae9f5f; }
.single .post-tags a { font-family: 'Cassia Italic'; text-transform: lowercase; font-size: 0.75em; letter-spacing: 1px; }


.single .post #sidebar #tags-list { color: #999; font-size: 0.875em; }
.single .post #sidebar #tags-list a { color: #999; font-family: "proxima-nova"; text-transform: lowercase; }



.single .post #sidebar #recent-list .post { width: 100%; float: left; padding: 0; margin: 0 0 30px 0; }
.single .post #sidebar #recent-list .post:last-of-type { margin: 0; }
.single .post #sidebar #recent-list .post h3 { font-family: "proxima-nova"; font-size: 1em; }
.single .post #sidebar #recent-list .post h5 { font-family: 'Cassia Italic'; font-size: 0.75em; letter-spacing: 1px; }



.single .post #sidebar #archives-list li { display: block; float: left; color: #999; font-family: "proxima-nova"; font-size: 0.875em; }
.single .post #sidebar #archives-list li a { color: #999; }
.single .post #sidebar #archives-list span { display: inline-block; padding: 0 5px; }

/*

    ----------------------------------------------------------------------
                                XX About
    ----------------------------------------------------------------------

*/

#info #contact-info { padding: 75px 0; text-align: center; }
#info #contact-info .wrapper { max-width: 720px; padding: 0 5% 25px 5%; }
#info #contact-info h2 { font-size: 1.25em; text-transform: uppercase; letter-spacing: 3px; padding: 0 0 25px 0; font-weight: 700; }
#info #contact-info h2#questions { padding-top: 40px; }
#info #contact-info p { margin: 0 0 20px 0; }
#info #contact-info p:last-of-type { margin: 0; }
#info #contact-info h5 { font-size: 0.875em; text-transform: uppercase; font-weight: bold; letter-spacing: 2px; }

/*

    ----------------------------------------------------------------------
                                XX Shop Index
    ----------------------------------------------------------------------

*/


#shop .type .header { width: 100%; float: left; text-align: center; padding: 50px 0; }
#shop .type .header h2 { text-transform: uppercase; letter-spacing: 2px; font-size:  1em; font-weight: 700; }
#shop .type .header h2 em { text-transform: lowercase; font-family: 'Cassia Italic'; font-style: normal; font-size: 0.875em; font-weight: normal; }

#shop .type .photo { width: 100%; float: left; height: 340px; }

#shop .type .photo .overlay { position: absolute; z-index: 50; }
#shop .type .photo .cta { z-index: 100; text-transform: lowercase; font-family: 'Cassia Italic'; font-size: 1em; letter-spacing: 2px; margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; height: 90px; width: 320px; }

#shop .type .photo .cta span { display: block; text-align: center; border: 1px solid #fff; margin: 10px; padding: 23px; }

#shop .type.white .photo .cta span { border: 1px solid #58595b; }



#shop .type.gray .header { background: #6d6e71; color: #fff; }
#shop .type.white .header { background: #fff; color: #58595b; }


#shop .type.blue .photo .cta { background: #4e5b5d; color: #fff; }
#shop .type.gold .photo .cta { background: #b0a160; color: #fff; }
#shop .type.white .photo .cta { background: #fff; color: #58595b; }
#shop .type.gray .photo .cta { background: #6d6e71; color: #fff; }


.gray .photo .overlay { background: rgba(109, 110, 113, 0.7); }




/*

    ----------------------------------------------------------------------
                                XX Default Page
    ----------------------------------------------------------------------

*/

#default-page .wrapper { max-width: 900px; margin: 0 auto; padding: 0 5%; }
#default-page .header { width: 100%; float: left; padding: 60px 0; text-align: center; }
#default-page .header h1 { font-weight: 700; font-size: 1.5em; letter-spacing: 2px; text-transform: uppercase; }



#default-page .body { width: 100%; float: left; padding: 0 0 60px 0; }


#default-page .body p,
#default-page .body ol,
#default-page .body ul { margin: 0 0 20px 0; }

#default-page .body h2,
#default-page .body h3,
#default-page .body h4,
#default-page .body h5,
#default-page .body h6 { margin: 0 0 10px 0; font-weight: 700; }

#default-page .body h2 { font-size: 1.25em; text-transform: uppercase; letter-spacing: 1px; padding: 40px 0 0 0; }


/*

    ----------------------------------------------------------------------
                                XX Media Queries
    ----------------------------------------------------------------------

*/




/* 600 + */
@media screen and (min-width: 600px) {





	/*  XX Header
	---------------------------------------- */
	header #main ul li { display: inline-block; padding: 0 30px; }

	header #utilities { position: absolute; right: 5%; top: 20px; }
	header #utilities .social-links { display: block; float: left; margin: 0 0 15px 0; }
	header #utilities .cart-links {  position: static; }


	#shop-nav ul li { width: 25%; }






	
	/*  XX Product List
	---------------------------------------- */
	.product-list .product { width: 49%; } 
	.post-type-archive-collections #list .col { width: 49%; }
	.post-type-archive-collections #list .col .list-wrapper { width: 66.6667%; }

	#blog-archive { padding: 40px 1%;  }
	#blog-archive article { width: 49%; margin-bottom: 0; }
	#blog-archive article .photo { height: 220px; overflow: hidden; }
	#blog-archive article .info { height: 160px; padding-top: 0; }

}





/* 640 + */
@media screen and (min-width: 640px) {
	#blog-archive article .photo { margin: 0 0 20px 0; }
	
}

/* 768 + */
@media screen and (min-width: 768px) {

	#home #page-header { padding: 140px 0; }

	
	/*  03 Layout
	---------------------------------------- */
	#contact h3 { float: left; text-align: left; }
	#contact #contact-info { float: right;  padding: 4px 0 0 0;  }
	#contact #contact-info span {  display: inline; text-align: left; }



	/*  XX Header
	---------------------------------------- */
	#home .photo { width: 50%; height: 400px; }
	#home .info { width: 50%; }
	

	#home .even .photo,
	#home .even .info { float: right; }
	





	/*  XX Footer
	---------------------------------------- */
	footer .col { width: 20%; float: left; padding: 0 30px 0 0; margin: 0; }
	footer #social h5 { margin: 0 0 15px 0; }
	footer #social h5 a .url { padding: 0 0 0 30px; display: block;  }
	footer #sign-up { padding: 30px 0 0 0; }
	footer #terms { padding: 30px 0 0 0; }



	#home #page-header .wrapper { background: url(img/hp-header-bg.png) no-repeat 0 0; width: 738px; height: 298px; padding: 60px 100px 0 100px; }
	


	#services .services-info .wrapper { padding: 0 0 25px 0; }
	
	/*  XX Product List
	---------------------------------------- */
	.product-list .product { width: 32.3333%; }


	.single .post article { width: 75%; float: left; padding: 0 50px 0 0; border-right: 1px solid #afa060; }
	.single .post #sidebar { width: 25%; float: left; padding: 0 0 0 50px; }



}






/* 1024 + */
@media screen and (min-width:1024px) {

	header #logo { position: absolute; left: 5%; top: 20px; padding: 0; width: auto; float: none; z-index: 100; }
	
	header #main { padding: 50px 0 70px 0; }
	header #main ul li { display: inline-block; padding: 0 30px; }
	.product-details .photos { width: 66.6666%; margin: 0; }
	.product-details .product-info { width: 33.3333%; }

	#home .photo { height: 560px; }
	#home .info p { width: 75% }


	#default-page .wrapper { padding: 0; }
	.post-type-archive-collections #list .col { width: 24%; }

	#blog-archive article { width: 32.3333%; margin-bottom: 0; }
	#blog-archive article .photo { height: 200px; }
	#blog-archive article .info { height: 160px; padding-top: 0; }


}


/* 1080 + */
@media screen and (min-width:1080px) {

	.product-details .breadcrumbs { padding: 0 0 30px 0; }
	.product-details .photos,
	.product-details .product-info,
	.product-details .learn-more { padding: 0; }





}

/* 1200 + */
@media screen and (min-width:1200px) {

	.product-list .product { width: 24%; }
	.related.product-list .product { width: 32.3333%; margin-bottom: 0; }



	#blog-archive article .photo { height: 240px; }
}

